$ambassador-bar-vertical-padding: 6px;
$ambassador-scrim-opacity: 0.2;
$ambassador-text-transparentize-amount: 0.2;
$ambassador-text-hover-transparentize-amount: 0.4;
$ambassador-emphasis-hover-transparentize-amount: $ambassador-text-transparentize-amount;

a.ambassador_banner {
  position: relative;
  display: block;
  padding-top: $ambassador-bar-vertical-padding;
  padding-bottom: $ambassador-bar-vertical-padding;
  text-decoration: none;
  background-image: linear-gradient(to left, mix($color-accent, $color-secondary, 50%), mix($color-black, $color-secondary, 10%));

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black;
    opacity: 0;
    @include transition(opacity 0.15s ease-in-out);
    z-index: $zindex-navbar - 2;
    content: "";
  }

  &:hover {
    &::after {
      opacity: $ambassador-scrim-opacity;
    }

    .ambassador_banner-text {
      color: transparentize($color-white, $ambassador-text-hover-transparentize-amount);
    }

    .ambassador_banner-emphasized {
      color: transparentize($color-white, $ambassador-emphasis-hover-transparentize-amount);
    }
  }
}

.ambassador_banner-text {
  position: relative;
  color: transparentize($color-white, $ambassador-text-transparentize-amount);
  z-index: $zindex-navbar - 1;
  @include transition(color 0.15s ease-in-out);
}

.ambassador_banner-emphasized {
  display: block;
  text-decoration: underline;
  @include transition(color 0.15s ease-in-out);

  @media screen and (min-width: $screen-xs) {
    display: inline;
  }
}
