@import "forever_style_guide/globals/effects";
@import "forever_style_guide/globals/colors";
@import "forever_style_guide/globals/fonts";

@mixin btn-color($color, $inverse: false) {
  @if ($inverse) {
    @extend %color-#{$color};
    @extend %background-silver;
    &:hover,
    &:active {
      @extend %color-#{$color}-dark;
      @extend %background-white;
    }
  } @else {
    @extend %color-white;
    @extend %background-#{$color};
    &:hover,
    &:active {
      @extend %background-#{$color}-dark;
      text-decoration: none;
    }
  }
}

.btn,
.btn-default {
  @extend %btn-style;

  &.btn-inverse {
    @include btn-color('gray');
  }

  &.btn-default.disabled {
    @extend %background-silver;
  }
  &.btn-primary,
  &.btn-success {
    @include btn-color('primary');
    &.btn-inverse {
      @include btn-color('primary', true);
    }
  }
  &.btn-secondary,
  &.btn-info {
    @include btn-color('secondary');
    &.btn-inverse {
      @include btn-color('secondary', true);
    }
  }
  &.btn-accent {
    @include btn-color('accent');
    &.btn-inverse {
      @include btn-color('accent', true);
    }
  }
  &.btn-warning {
    @include btn-color('warning');
    &.btn-inverse {
      @include btn-color('warning', true);
    }
  }
  &.btn-danger {
    @include btn-color('danger');
    &.btn-inverse {
      @include btn-color('danger', true);
    }
  }
  &.btn-link {
    @include btn-color('secondary', true);
    background: none;
    box-shadow: none;
    &:hover,
    &:active {
      background: none;
      text-decoration: underline;
      &:focus {
        box-shadow: none;
      }
    }
  }
  &.btn-lg {
    @extend %font-face-light;
    @extend %font-size-400;
    padding: 20px;

    .fa {
      @extend %font-size-600;

      &:after {
        padding-bottom: 2px;
      }
    }
  }
  &.btn-sm {
    @extend %font-size-200;
    padding-top: 8px;
    padding-bottom: 8px;

    .fa {
      @extend %font-size-400;
      padding-top: 4px;
    }
  }
  &.btn-xs {
    @extend %font-size-100;
    padding-top: 5px;
    padding-bottom: 5px;

    .fa {
      @extend %font-size-200;
      padding-top: 4px;
    }
  }

  &.btn-icon {
    width: 42px;
    height: 42px;
    padding: 0;
    .fa {
      width: 100%;
      text-align: center;
    }
    &.btn-lg {
      width: 64px;
      height: 64px;
    }
    &.btn-sm {
      width: 37px;
      height: 37px;

    }
    &.btn-xs {
      width: 28px;
      height: 28px;
      padding-left: 1px;
    }
  }

  &.btn-action {
    .btn-action-label {
      margin: 0;
      padding-top: 2px;
      vertical-align: top;
    }
    .btn-action-icon {
      padding-left: 4px;
      padding-right: 4px;
    }
    &.btn-lg {
      .btn-action-label {
        padding-top: 7px;
      }
      .btn-action-icon {
        padding-left: 7px;
        padding-right: 7px;
      }
    }
    &.btn-sm {
      .btn-action-label {
        padding-top: 2px;
      }
      .btn-action-icon {
        padding-left: 3px;
        padding-right: 3px;
      }
    }
    &.btn-xs {
      .btn-action-label {
        padding-top: 3px;
        padding-right: 3px;
      }
    }
  }
  .fa {
    @extend %font-size-500;
  }
}

.btn-group {
  .btn-icon .fa {
    vertical-align: middle;
  }
  .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-left: 1px solid $gray-400;
    border-right: 1px solid $gray-400;
    // compensating for bootstraps -1px offset
    margin-right: 1px;
  }
}
