// this module provides styling for the font-awesome-rails gem's stacked icon helpers: https://github.com/bokmann/font-awesome-rails#helpers

.fa-feature_bullet {

  .fa-feature_bullet-icon {
    color: color('white');
    text-shadow: none;
  }

  .fa-feature_bullet-circle {
    @extend %text-shadow;
  }

  &.fa-feature_bullet-primary .fa-feature_bullet-circle {
    color: color('primary');
  }

  &.fa-feature_bullet-secondary .fa-feature_bullet-circle {
    color: color('secondary');
  }

  &.fa-feature_bullet-accent .fa-feature_bullet-circle {
    color: color('accent');
  }

  &.fa-feature_bullet-services .fa-feature_bullet-circle {
    color: color('services');
  }

  &.fa-feature_bullet-ambassador .fa-feature_bullet-circle {
    color: color('ambassador');
  }

  // inverse will reverse the white and colored element on the stacked icon
  &.fa-inverse {
    .fa-feature_bullet-circle {
      color: color('white');
    }

    &.fa-feature_bullet-primary .fa-feature_bullet-icon {
      color: color('primary');
    }

    &.fa-feature_bullet-secondary .fa-feature_bullet-icon {
      color: color('secondary');
    }

    &.fa-feature_bullet-accent .fa-feature_bullet-icon {
      color: color('accent');
    }

    &.fa-feature_bullet-accent .fa-feature_bullet-icon {
      color: color('services');
    }

    &.fa-feature_bullet-ambassador .fa-feature_bullet-icon {
      color: color('ambassador');
    }
  }
}
