/* =footer
---------------------------------------------------------------------------- */
@import "forever_style_guide/globals/all";
@import "bootstrap/variables";

.footer-marketing {
  /* You'll need these in your production footer, but they don't work in the component display in the style guide
  position: absolute;
  bottom: 0;*/
  padding: 20px;
  @extend %color-white;
  text-align: center;
  @extend %background-black;

  a {
    @include link_visited_hover_active {
    @extend %color-white;
    }
  }
  .footer_links {
    margin-top: 20px;
    margin-bottom: 15px;
    @extend %font-size-400;
    text-transform: uppercase;
  }
  .social_media_icons {
    .fa-feature_bullet-circle {
      @extend %color-gray-600;
      text-shadow: none;
    }
    .fa-feature_bullet-social {
      &:hover {
        .fa-feature_bullet-circle {
          @extend %color-gray-500;
        }
      }
    }
    a:hover {
      text-decoration: none;
    }
  }
  .contact_links {
    margin-top: 15px;
  }
  .contact {
    @extend %font-size-500;
  }
}
