/* =footer
---------------------------------------------------------------------------- */
@import "forever_style_guide/globals/all";
@import "bootstrap/variables";

.footer-marketing {
  /* You'll need these in your production footer, but they don't work in the component display in the style guide
  position: absolute;
  bottom: 0;*/
  padding: 20px;
  color: color('white');
  text-align: center;
  background-color: color('gray-800');

  a {
    @include link_visited_hover_active {
      color: color('white');
    }
  }
  .pages {
    margin-top: 20px;
    margin-bottom: 15px;
    @extend %font-size-400;
    text-transform: uppercase;
  }
  .social_media_icons {
    .fa-feature_bullet-circle {
      color: color('gray-600');
      text-shadow: none;
    }
    .fa-feature_bullet-social {
      &:hover {
        .fa-feature_bullet-circle {
          color: color('gray-500');
        }
      }
    }
    a:hover {
      text-decoration: none;
    }
  }
  .info {
    margin-top: 15px;
  }
  .info-number {
    @extend %font-size-500;
  }
}
