.hero-product-logo {
  margin-left: 0;
  padding-top: 40px;

  @media (max-width: $screen-sm) {
    position: relative;
    padding: 0;
    margin: auto;
    width: 100%;
    max-width: 500px;
  }

  .hero-product-details {
    font-size: font-size(500);
    padding: 30px 10px;

    @media (max-width: $screen-sm) {
      font-size: font-size(400);
      padding: 20px 0;
    }
  }
}
.hero-product-logo-block {
  height: 100px;
}
