.hero-block {
  background-size: cover;
  padding: 30px;
}
.hero-block-title {
  font-size: 35px;
  color: color('white');
  text-shadow: color('gray-700') 0 2px 10px !important;

  @media (min-width: $screen-sm) {
    font-size: 40px;
  }
  @media (min-width: $screen-lg) {
    font-size: 50px;
  }
}
.hero-block-description {
  color: color('white');
  text-shadow: color('gray-700') 0 1px 5px !important;
}

.hero-block-side {
  width: 400px;
  margin-top: 0;
  margin-left: 50px;
  padding: 30px;

  @media (max-width: $screen-sm) {
    width: 100%;
    margin: 0;
  }
  @media (min-width: $screen-lg) {
    margin-bottom: 0;
  }
  @media (min-width: $screen-xl) {
    width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;
  }
  @media (min-width: $screen-xxl) {
    width: 600px;
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .hero-block-description {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 50px;
    color: color('gray-700');
    line-height: 1.4;
    text-align: left;
    text-shadow: none !important;
    border-top: 1px solid color('gray-600');
    border-bottom: 1px solid color('gray-600');

    @media (max-width: $screen-sm) {
      margin-top: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
.hero-block-cta {
  margin-top: 5px;

  // for hero CTAs layout in between xs -> sm breakpoints
  @media (max-width: 580px) {
    width: 100%;
  }
}
.hero-block-cta-justified {
  width: 250px;
}
.hero-block-actions {
  text-align: left;

  @media (max-width: $screen-sm) {
    text-align: center;
  }
}
