.impersonation_banner {
  position: fixed;
  top: 0;
  width: 100%;
  height: $impersonation-banner-height;
  min-width: $minimum-application-width;
  padding-top: 1px; // shimming visual alignment
  font-size: $font-size-100;
  z-index: $in-front-of-primary-and-banner;
}

.has-impersonation_banner {
  .ambassador_banner,
  #header-is_fixed.affix {
    margin-top: $impersonation-banner-height;
  }
  .ambassador_banner-dropdown_container.open {
    top: $ambassador-banner-text-height-assigned + $impersonation-banner-height;
  }
  .nav-mobile-menu.in {
    @media (max-width: $grid-float-breakpoint-max) {
      top: $impersonation-banner-height;
    }
  }
  .navigation-account_dropdown.in {
    @media(min-width: $grid-float-breakpoint) {
      top: $impersonation-banner-height;
    }
  }
}

.btn.btn-cancel_impersonation {
  height: auto;
  float: right;
  margin-top: -3px; //account for fa-close icon throwing off vertical alignment
  color: $color-white;
  font-size: $font-size-100;
  text-decoration: none;

  .fa {
    font-size: $font-size-100;
  }

  &:link,
  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    color: $color-white;
    padding: 0;
  }
}
