$radio-offset: 10px;

.input-group {
  .form-control {
    font-size: $font-size-default;
    border-radius: $border-radius-button;
  }

  input {
    height: $btn-size;
    vertical-align: middle;
  }
  input[type='radio'],
  input[type='checkbox'] {
    height: $btn-size - $radio-offset;
  }

  .input-group-addon {
    @extend %item-style;
    font-size: $font-size-default;
    padding: 0 $btn-padding-small-horizontal;
    @extend %no-shadow;
  }

  &.input-group-lg {
    .form-control {
      font-size: $font-size-large;
    }
    .input-group-addon {
      font-size: $font-size-large;
      padding-left: $btn-padding-large-horizontal;
      padding-right: $btn-padding-large-horizontal;
    }
    .fa,
    .input-group-btn .fa {
      font-size: $icon-size;
    }
    input {
      height: $btn-lg-size;
    }
    input[type='radio'],
    input[type='checkbox'] {
      height: $btn-lg-size - $radio-offset;
    }
  }
  &.input-group-sm {
    .form-control {
      font-size: $font-size-small;
    }
    .input-group-addon {
      font-size: $font-size-small;
      padding-left: $btn-padding-small-horizontal;
      padding-right: $btn-padding-small-horizontal;
    }
    .fa,
    .input-group-btn .fa {
      font-size: $icon-xs-size;
    }
    input {
      height: $btn-sm-size;
    }
    input[type='radio'],
    input[type='checkbox'] {
      height: $btn-sm-size - $radio-offset;
    }
  }
  &.input-group-xs {
    .form-control {
      font-size: $font-size-small;
    }
    .input-group-addon {
      font-size: $font-size-small;
      padding-left: $btn-padding-xs-horizontal;
      padding-right: $btn-padding-xs-horizontal;
    }
    .fa,
    .input-group-btn {
      .fa {
        padding-top: 1px;
        font-size: $icon-xs-size;
      }
      .btn {
        height: $btn-xs-size;
        border-radius: $border-radius-small;
        font-size: $font-size-small;
      }
    }
    input {
      height: $btn-xs-size;
    }
    input[type='radio'],
    input[type='checkbox'] {
      height: $btn-xs-size - $radio-offset;
    }
  }

  .input-group .form-control:first-child,
  .input-group-addon:first-child,
  .input-group-btn:first-child > .btn,
  .input-group-btn:first-child > .btn-group > .btn,
  .input-group-btn:first-child > .dropdown-toggle,
  .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
  .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .input-group-addon:first-child {
    border-right: 0;
  }
  .input-group .form-control:last-child,
  .input-group-addon:last-child,
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group > .btn,
  .input-group-btn:last-child > .dropdown-toggle,
  .input-group-btn:first-child > .btn:not(:first-child),
  .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .input-group-addon:last-child {
    border-left: 0;
  }

  .input-group-btn {
    .fa {
      font-size: $icon-size;
    }

    &.input-lg.fa {
        font-size: $icon-size;
    }
    &.input-sm.fa {
        font-size: $icon-xs-size;
    }
    &.input-xs.fa {
        font-size: $icon-xs-size;
    }

    .btn {
      box-shadow: none;
      padding-top: 5px;
      padding-bottom: 5px;
      line-height: 1.4;
      &:active:focus {
        @extend %inset-shadow;
      }
    }
  }
}
