@import "forever_style_guide/globals/colors";
@import "forever_style_guide/globals/effects";
@import "bootstrap/mixins/border-radius";
@import "bootstrap/variables";

.input-group {
  .input-group-addon {
    @extend %item-style;
    @extend %no-shadow;
    background-color: color('silver');
  }

  .input-group .form-control:first-child,
  .input-group-addon:first-child,
  .input-group-btn:first-child > .btn,
  .input-group-btn:first-child > .btn-group > .btn,
  .input-group-btn:first-child > .dropdown-toggle,
  .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
  .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    @include border-right-radius(0);
  }
  .input-group-addon:first-child {
    border-right: 0;
  }
  .input-group .form-control:last-child,
  .input-group-addon:last-child,
  .input-group-btn:last-child > .btn,
  .input-group-btn:last-child > .btn-group > .btn,
  .input-group-btn:last-child > .dropdown-toggle,
  .input-group-btn:first-child > .btn:not(:first-child),
  .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    @include border-left-radius(0);
  }
  .input-group-addon:last-child {
    border-left: 0;
  }


  .input-group-btn {

    .fa {
      font-size: $font-size-base;
    }
    &.input-sm .fa {
      font-size: $font-size-small;
    }
    &.input-lg .fa {
      font-size: $font-size-large;
    }

    .btn {
      //box-shadow: none;
      padding-top: 5px;
      padding-bottom: 5px;
      border: none;
    }
  }

  &.input-group-sm .fa {
    font-size: $font-size-small;
  }
  &.input-group-lg .fa {
    font-size: $font-size-large;
  }
}
