$badge-width: 24px;

.list-group-toggle {
  .badge {
    @extend %check-style;
    padding: 5px 0 0;
    font-size: font-size('default');
    color: color('gray-500');
    @include circle($badge-width, color('gray-200'));

    &:hover {
      color: color('secondary');
      cursor: pointer;
      background-color: color('white');
    }
  }
  .list-group-item.active {

    > .list-group-link {
      color: color('white');
    }
    .list-group-item-child {
      margin-right: $badge-width + $padding-large-horizontal;
    }
    .badge {
      color: color('gray-500');

      &:hover {
        color: color('secondary');
      }
    }
  }
  .list-group-link {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    color: color('secondary');
    border: 0;

    &:hover,
    &:active,
    &:focus {
      color: color('secondary');
      border: 0;
      background: none;
      text-shadow: none;
    }
  }
}
.list-group-item-child {
  opacity: 0.8;
  max-height: 0;
  margin-top: 0;
  overflow: hidden;
  @include transition(max-height 0.3s ease-in-out, margin-top 0.2s ease-in-out, opacity 0.2s ease-in-out);

  &.is-open {
    opacity: 1.0;
    max-height: 300px; // may need adjusted given list length
    margin-top: 5px;
  }
  .list-group-item {
    padding-top: $padding-small-vertical;
    padding-bottom: $padding-default-vertical;
    border: 0;

    &.active {
      background-color: color('blue-dark');
      border-radius: $border-radius-large;
      margin-right: $badge-width + $padding-large-horizontal;

      .list-group-link {
        color: color('white');
      }
    }
  }
}
