.list-group-toggle {
  font-size: font-size('default');

  .badge {
    @extend %check-style;
    padding: 5px 0 0;
    font-size: font-size('default');
    color: color('gray-500');
    @include circle(24px, color('gray-200'));
    @include transition-property(background-color, box-shadowr);

    &:hover {
      color: color('secondary');
      cursor: pointer;
      background-color: color('white');
    }
    &.is-open,
    &:focus,
    &:active {
      background-color: color('gray-300');
      @include box-shadow(inset 0 1px 3px $shadow-color);
    }
  }
  .list-group-item {
    background-color:  color('gray-200');
  }
  .list-group-item.active {
    background-color:  color('gray-100');
    border-color: color('gray-400');
    border-left: 4px solid color('primary');

    .list-group-link-active {
      display: inline-block;
      padding-top: 5px;
      color: color('gray-600');
    }
    .list-group-item-child {
      .list-group-item {
        background-color:  color('gray-100');
      }
    }
    .badge {
      color: color('gray-500');

      &:hover {
        color: color('secondary');
      }
    }
  }
  .list-group-link {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    color: color('secondary');
    border: 0;

    &:hover,
    &:active,
    &:focus {
      color: color('secondary');
      border: 0;
      background: none;
      text-shadow: none;
    }
  }
}
.list-group-item-child {
  opacity: 0.8;
  max-height: 0;
  margin-top: 0;
  overflow: hidden;
  @include transition(max-height 0.3s ease-in-out, margin-top 0.2s ease-in-out, opacity 0.2s ease-in-out);

  &.is-open {
    opacity: 1.0;
    max-height: 300px; // may need adjusted given list length
    margin-top: 5px;
  }
  .list-group-item {
    border: 0;
  }
  .list-group-item.active {
    border: 0;
  }
}
