/* list
---------------------------------------------------------------------------- */

.list-group-item {
  @extend %item-style;
  @extend %no-shadow;
  border-radius: 0;

  // Round the first and last items
  &:first-child {
    border-top-right-radius: $border-radius-large;
    border-top-left-radius: $border-radius-large;
  }
  &:last-child {
    border-bottom-right-radius: $border-radius-large;
    border-bottom-left-radius: $border-radius-large;
  }

  &.list-group-item-success,
  &.list-group-item-primary {
    color: color('primary');
  }
  &.list-group-item-secondary,
  &.list-group-item-info {
    color: color('secondary');
  }
  &.list-group-item-accent {
    color: color('accent');
  }
  &.list-group-item-warning {
    color: color('warning');
  }
  &.list-group-item-danger {
    color: color('danger');
  }
}

.list-benefit {
  margin: 0.25em 20px 0 20px;
  padding-left: 30px;
  text-align: left;
  font-size: font-size('default');
  list-style: none;
  background: image-url("forever_style_guide/check.png") no-repeat 0 0;

  @media(max-width: $screen-xs-min) {
    margin: 0;
  }
}

.list-group-toggle {
  .badge {
    @extend %check-style;
    padding: 5px 0 0;
    font-size: font-size('default');
    color: color('gray-500');
    @include circle(24px, color('gray-200'));

    &:hover {
      color: color('secondary');
      cursor: pointer;
      background-color: color('white');
    }
  }
  .list-group-link {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 0;
    color: color('secondary');
    border: 0;

    &:hover,
    &:active,
    &:focus {
      color: color('secondary');
      border: 0;
      background: none;
    }
  }
  .list-group-item-child {
    max-height: 0;
    margin-top: 5px;
    overflow: hidden;
    @include transition-property(max-height, opacity);
    @include transition-duration(0.3s);

    &.is-open {
      max-height: 300px; // may need adjusted given list length
    }
    .list-group-item {
      padding-top: 10px;
      padding-bottom: 10px;
      border: 0;
    }
  }
}
.list-products {
  .list-product-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .list-product-img {
    height: 30px;
  }
  .list-product-forever {
    height: 25px;
  }
}
