$modal-padding-footer: 15px;
$modal-form-width-lg: 355px;
$modal-product-suggestion-sm: 170px;
$modal-promo-height: 475px;
$modal-xl-screen-md-width: 900px;
$modal-xl-screen-lg-width: 1170px;
$modal-margin-top-sm: 32px;
$modal-margin-top-md: 80px;

.modal-content {
  border: none;
  border-radius: $border-radius-xl;
}

.modal-header {
  border: none;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  padding: 10px;

  &.modal-header-promo {
    background-color: transparent;
  }

  .close {
    margin-top: 1px; // visual alignment
    color: $color-gray-700;
    opacity: 1.0;
    @extend %no-shadow;

    &:hover {
      color: $color-gray-600;
    }
  }
}

.modal-title {
  font-family: $font-face-light;
  font-size: $font-size-500;
  color: inherit;
}

.modal-footer-buttons {
  padding: $modal-padding-footer;
  text-align: right;
  border-top: 1px solid $color-gray-400;
}

.modal-footer-txt {
  font-family: $font-face-bold;
  color: $color-gray-600;
  line-height: 3;
}

.modal-footer-info {
  padding: 10px;
}

.modal-body-info {
  padding: 30px;
}

.modal-product-name-sm {
  margin: 10px auto 0;
  max-width: $modal-product-suggestion-sm;
  color: $color-gray-600;
  font-family: $font-face-bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal-footer-products {
  padding: $modal-padding-footer;
}

.product-preview:hover .modal-product-name-sm {
  color: $color-secondary;
}

.product-preview-link:hover {
  text-decoration: none;
}

.modal-dialog {
  @media (min-width: $screen-xs-min) {
    margin: $modal-margin-top-sm 10px 0;
  }
  @media (min-width: $screen-sm-min) {
    margin: $modal-margin-top-sm auto 0;
  }
  @media (min-width: $screen-md-min) {
    margin-top: $modal-margin-top-md;
   }
 }

.close:hover,
.close:focus,
.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
}

.modal-footer-txt.checkbox {
  line-height: 1.5;
}

.modal-media-text {
  padding: 0 40px;
  margin-top: $modal-padding-footer;
}

.modal-content.modal-promo {
  background-size: cover;
  height: $modal-promo-height;
}

.modal-promo-kit {
  background-position: 50%;
  image-rendering: -webkit-optimize-contrast; // fixes text-in-image fuzziness in Chrome
}

.modal-promo-content {
  color: $color-gray-600;
  font-size: $font-size-500;
  text-align: center;
  margin-top: 165px;
  padding: 0 50px;
}

.modal-promo-form {
  width: $modal-form-width-lg;
  margin : 0 auto;
  text-align: center;
}

.promo-btn {
  width: $modal-form-width-lg;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.modal-xl {
  @media (min-width: $screen-md){
    width: $modal-xl-screen-md-width;
  }

  @media (min-width: $screen-lg){
    width: $modal-xl-screen-lg-width;
  }

  &.modal-dialog {
    @media (min-width: $screen-md-min) {
      margin-top: $header-height + 5; // prefer to have more vertical real estate available for large modals
    }
  }
}
