#header-is_fixed {
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;

  &:not(.affix) {
    position: static; // respect the z-index of all the nav stuff + don't break small heroes like on the /find_ambassador page
  }
}
