// https://github.com/iamphill/Bootstrap-Offcanvas
$offcanvas-width:                 270px !default;
$offcanvas-animation-time:        .15s !default;
$offcanvas-media-max:             $grid-float-breakpoint-max!default;

@media (max-width: $offcanvas-media-max) {
  .offcanvas-stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

  .navbar-default {
    .navbar-offcanvas {
      background-color: $nav-bg-color;
    }
  }

  .navbar-offcanvas {
    position: fixed;
    width: 100%;
    min-height: 100%; // Ensure offcanvas menu ignores mobile-safari's padding garbage
    max-width: $offcanvas-width;
    left: -$offcanvas-width;
    top: 0;
    z-index: $zindex-navbar-fixed + 1; // Make sure offcanvas nav is 'above' fixed header
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    transition: left $offcanvas-animation-time ease-in;

    .nav > li {
      width: 100%;
      overflow: hidden;
    }
    &.in {
      box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    }
    &.offcanvas-transform {
      &.in {
        left: 0;
      }
    }
  }
}

// Show and hide items relative to custom toggle breakpoint
.visible-grid-float-breakpoint {
  @media (min-width: $grid-float-breakpoint) {
    display: none !important;
  }
  @media (max-width: $grid-float-breakpoint-max) {
    display: block !important;
  }
}
.hidden-grid-float-breakpoint {
  @media (min-width: $grid-float-breakpoint) {
    display: block !important;
  }
  @media (max-width: $grid-float-breakpoint-max) {
    display: none !important;
  }
}
.col-grid-float-3 {
  @media (min-width: $grid-float-breakpoint) {
    width: 25%;
    float: left;
  }
}
.col-grid-float-6 {
  @media (min-width: $grid-float-breakpoint) {
    width: 50%;
    float: left;
  }
}
.col-grid-float-push-6 {
  @media (min-width: $grid-float-breakpoint) {
    float: right;
  }
}
