$cart-count-horizontal-position: -3px;
$cart-count-vertical-position: -8px;
$mobile-icon-size: 21px;

//style the cart and help icon the same + override bootstrap
.navbar-nav > li > a {
  &.navigation-user_info-cart,
  &.navigation-user_info-help_link {
    padding-left: $padding-small-horizontal * 2;
    padding-right: $padding-small-horizontal * 2;
    background-color: inherit;
    @include transition($navigation-link-hover-transition);

    @media (max-width: $screen-lg) {
      padding-left: $padding-small-horizontal;
      padding-right: $padding-small-horizontal;
      font-size: $font-size-400;
    }

    @media (max-width: $screen-mobile-menu) {
      font-size: $mobile-icon-size;
      padding-left: $nav-horizontal-spacing;
      padding-right: 0;
    }

    &:hover .fa {
      color: $color-secondary;
      @include transition($navigation-link-hover-transition);
    }
  }
}

.navigation-user_info-cart-count {
  display: block;
  float: right;
  text-align: center;
  margin-top: $cart-count-vertical-position;
  margin-left: $cart-count-horizontal-position;
  padding-top: 1px; // shim for alignment
  width: $mobile-icon-size;
  height: $mobile-icon-size;
  border-radius: 50%;
}
