$nav-icon-width: 60px;
$nav-icon-margin: 3px;
$cart-count-width: 20px;

@mixin chevron-style {
  position: absolute;
  right: 15px;
  font-size: $font-size-default;
}

.nav-icon-stack {
  width: $nav-icon-width;
  padding: 7px 4px 4px 4px !important; // overriding .navbar-nav > li > a
  text-align: center;

  .fa {
    display: block;
    position: relative;
    top: $nav-icon-margin;
  }
}
.nav-icon-label {
  font-size: $font-size-100;
  line-height: $font-size-400;

  &.has_count {
    position: absolute;
    top: 26px; // align labels
  }
}

// Style offcanvas account icons consistent w/ product dropdowns
@media (max-width: $grid-float-breakpoint-max) {
  .navbar-account_item .nav-icon-stack {
    width: auto;
    padding: 15px !important; // override .navbar .nav.navbar-nav > li > a
    text-align: left;

    .fa-chevron-down {
      top: 15px;
    }
    .fa-chevron-right {
      top: 15px;
      @include chevron-style;
    }
    .nav-icon-label {
      font-size: $font-size-500;
    }
  }
}

.navbar-default .navbar-nav {
  .dropdown-toggle .fa-chevron-down {
    margin-left: $nav-icon-margin;
    font-size: 9px;
    @include transition(transform 0.2s ease-in-out);

    @media(max-width: $grid-float-breakpoint-max) {
      @include chevron-style;
    }
  }
  .dropdown.open .dropdown-toggle .fa-chevron-down {
    @include transform(rotate(180deg));
  }
}

// Mobile Toggles
.navbar-default .navbar-toggle,
a.cart-icon {
  height: $header-height;
  width: $header-height;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  color: color('gray-600');
  font-size: $font-size-default;
  border: 0;
  border-radius: 0;
  z-index: $zindex-navbar-fixed; // make sure toggles appear above logo

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    background-color: transparent;
  }
  &.pull-left {
    @include nav-border(right);
  }
  &.navbar-toggle-close {
    width: 100%;
    padding: 0;
    @include nav-border(bottom);

    &:hover {
      background-color: color('white');
      cursor: pointer;
    }
    .nav-icon-stack {
      height: $header-height;
    }
  }
}
a.cart-icon {
  @media (max-width: $grid-float-breakpoint-max) {
    position: absolute;
    right: 0;
    @include nav-border(left);
  }
}
.cart-icon-count {
  display: inline-block;
  float: right;
  height: $cart-count-width;
  min-width: $cart-count-width;
  padding-top: 1px; // vertical align number in circle
  font-size: $font-size-200;
  border-radius: 50%;
}

.navbar-toggle-close-left {
  @include nav-border(right);
}
