/* =header
---------------------------------------------------------------------------- */
@import "forever_style_guide/globals/all";
@import "bootstrap/variables";

$color-nav-bg:  color('gray-100');
$color-nav-active: color('gray-200');
$color-nav-hover: color('gray-300');
$header_height: 60px;
$header_link_icons: 24px;
$header_link_icon_padding: 10px;
$library_padding: 20px;

.navbar {
  min-height: $header_height;
  @extend %card-style;

  @media (min-width: $screen-sm-min) {
    border-radius: 0;
  }

  .navbar-brand {
    display: block;
    margin-left: -15px;
    padding: 15px 30px;
    width: 250px;
    height: $header_height;

    .navbar-brand-logo {
      max-width: 190px;
      max-height: 50px;
    }
  }
}

.navbar-default {
  .navbar-toggle {
    padding: 15px 10px 0;
    border: 0;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }
  }
  .navbar-collapse {
    border: 0;
  }
}

.navbar-fixed-top {
  .navbar-collapse {
    max-height: none;
  }
}

.nav {

  &.nav-pills {
    @extend %card-style;

    &.nav-stacked {

    }
  }

  .nav-item {
    @include clearfix;
    @extend %font-size-400;
    @extend %font-face-regular;

    .nav-item-tab {
      height: $header_height;
      padding-top: 20px;
      color: color(gray-500);
    }

    .nav-item-icon {
      @extend %font-size-500;
      line-height: 20px;
      vertical-align: bottom;
    }

    .nav-item-label {
      line-height: 20px;
    }

    &:hover {
      .nav-item-tab, .nav-item-list  {
        color: color('secondary');
      }

      .nav-item-list {
        color: color('secondary');
        background-color: $color-nav-hover;
      }
    }

    &.active {
      .nav-item-tab {
        color: color('gray-600');
        background-color: $color-nav-active;
        border-right: 1px solid color('gray-300');
        border-bottom: 1px solid color('gray-300');
        border-left: 3px solid color('primary');

        @media (min-width: $screen-sm-min) {
          border-right: 1px solid color('gray-300');
          border-bottom: 3px solid color('primary');
          border-left: 1px solid color('gray-300');
        }
      }

      .nav-item-list {
        color: color('gray-600');
        background-color: $color-nav-active;
        border-top: 1px solid color('gray-300');
        border-bottom: 1px solid color('gray-300');
        border-left: 3px solid color('primary');
      }

      // neutralize hover on active nav selection
      &:hover .nav-item-tab, .nav-item-list {
        color: color('gray-600');
        background-color: $color-nav-active;
      }
    }

    &.login {
      a {
        display: inline-block;
      }
    }
  }
}
