$header_height: 50px;

@mixin account-nav-border($sides...) {
  @each $side in $sides {
    border-#{$side}: 1px solid color('gray-400');
  }
}

// Basic styles - A lot of overriding Bootstrap defaults
.navbar-toggle {
  @media (max-width: $grid-float-breakpoint) {
    display: block;
  }
}
.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  margin: auto;
  padding: $padding-small-vertical 0 0;
  text-align: center;
}
.navbar {
  background-color: color('white');
  border-radius: 0;
  border: none;
  @extend %card-shadow;

  .nav.navbar-nav {
    margin-top: 0;
    margin-bottom: 0;

    @media (max-width: $grid-float-breakpoint) {
      margin-left: 0;
      margin-right: 0;
    }

    > li > a {
      height: $header_height;
      color: color('gray-400');
      font-size: $font-size-500;

      @media (max-width: $grid-float-breakpoint) {
        padding-top: 15px;
        @include account-nav-border(bottom);
      }

      @media (min-width: $grid-float-breakpoint) {
        color: color('gray-600');
        font-size: $font-size-default;
        @include transition(all 0.2s ease-in-out);
      }
      &:hover {
        @media (min-width: $grid-float-breakpoint) {
          background-color: color('gray-300');
        }
      }
    }
    > .active > a {
      background-color: transparent;

      &:hover,
      &:focus {
        @media (max-width: $grid-float-breakpoint) {
          color: color('gray-400');
        }
      }
    }
    .dropdown.open > a {
      color: color('gray-400');
      background-color: color('gray-700');

      @media (max-width: $grid-float-breakpoint) {
        color: color('white');
        background-color: color('secondary');
      }
    }
    &.navbar-right {
      margin-right: 0px;
    }
  }
}
.navbar-account_item {
  @media (min-width: $grid-float-breakpoint) {
    @include account-nav-border(left);
  }
}
