$nav-icon-margin: 3px;
$cart-count-mobile-offset: 8px;
$cart-count-width: 20px;
$cart-icon-width: 28px + 20px; //20px to account for padding
$cart-icon-vertical-offset: 2px;
$cart-icon-vertical-offset-mobile: 4px;
$deals-icon-horizontal-offset: 3px;
$deals-icon-horizontal-offset-mobile: 4px;
$chevron-bottom-alignment-offset: -1px;

@mixin chevron-style {
  position: absolute;
  right: 15px;
  font-size: $font-size-default;
}

.nav-icon-stack {
  padding: 3px 4px 4px 4px !important; // overriding .navbar-nav > li > a
  text-align: center;

  .fa {
    display: block;
    position: relative;
    top: $nav-icon-margin;
  }

  .icon-bar {
    display: block;
    width: 28px;
    height: 4px;
    border-radius: 4px;
    margin: 2px auto 0 auto;

    &:last-of-type {
      margin-bottom: 2px;
    }
  }
}
.nav-icon-label {
  font-size: $font-size-xsmall;
  line-height: $font-size-xsmall;
  font-family: $font-face-gotham;
}

.navbar-default .navbar-nav {
  .dropdown-toggle .fa-chevron-down {
    font-size: $font-size-xsmall;
    @include transition(transform 0.2s ease-in-out);

    @media(max-width: $grid-float-breakpoint-max) {
      @include chevron-style;
    }

    @media(min-width: $grid-float-breakpoint) {
      position: relative;
      top: $chevron-bottom-alignment-offset;
    }
  }
  .dropdown.open .dropdown-toggle .fa-chevron-down {
    @include transform(rotate(180deg));
  }
}

a.cart-icon {
  padding-top: $cart-icon-vertical-offset-mobile;

  @media(min-width: $grid-float-breakpoint) {
    padding-top: $cart-icon-vertical-offset !important; //override .nav.navbar-nav > li > a
  }
}

// Mobile Toggles
.navbar-default .navbar-toggle,
a.cart-icon {
  height: $header-height;
  width: $cart-icon-width;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  color: color('gray-600');
  font-size: $font-size-default;
  text-align: center;
  border: 0;
  border-radius: 0;
  z-index: $zindex-navbar-fixed; // make sure toggles appear above logo

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    background-color: transparent;
  }
  &.navbar-toggle-close {
    width: 100%;
    padding: 0;
    @include nav-border(bottom);

    &:hover {
      background-color: color('white');
      cursor: pointer;
    }
    .nav-icon-stack {
      height: $header-height;
    }
  }
  &.with-count {
    width: $cart-count-width + $cart-icon-width;
  }
}
a.cart-icon {
  @media (max-width: $grid-float-breakpoint-max) {
    position: absolute;
    right: 0;
  }
}
.cart-icon-count {
  display: inline-block;
  float: right;
  height: $cart-count-width;
  min-width: $cart-count-width;
  padding-top: 1px; // vertical align number in circle
  font-size: $font-size-200;
  border-radius: 50%;

  @media (max-width: $grid-float-breakpoint-max) {
    margin-right: $cart-count-mobile-offset;
  }
}

.deals-icon {
  display: block;

  @media (max-width: $grid-float-breakpoint-max) {
    margin-right: $deals-icon-horizontal-offset-mobile;
    float: left;
  }

  @media (min-width: $grid-float-breakpoint) {
    float: right;
    margin-left: $deals-icon-horizontal-offset;
  }
}
