$offcanvas-width: 270px;
$offcanvas-padding: 10px;
$nav-bg-color: color('gray-700');


$navigation-height: 42px;

$hamburger-patty-height: 2px;
$hamburger-patty-width: 20px;

@mixin nav-border($sides...) {
  @each $side in $sides {
    border-#{$side}: 1px solid color('gray-400');
  }
}

.navigation {
  padding: 0 $padding-large-horizontal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $font-face-gotham;
  box-shadow: 0 5px 20px rgba(0,0,0,.1);
  height: 55px;
}

.navigation-toggle_button {
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  padding: 0;
  height: 30px;
  line-height: 0;

  @media screen and (min-width: $screen-md) {
    display: none;
  }
}

.navigation-toggle_button-hamburger {
  position: relative;
  width: $hamburger-patty-width;
  height: $hamburger-patty-height;
  background: $color-gray-500;
  display: inline-block;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-gray-500;
    display: inline-block;
  }

  &::after {
    top: 6px;
  }
}

.navigation-logo_image {
  height: 20px;

  @media screen and (min-width: $screen-lg) {
    height: 23px;
  }
}

.navigation-link {
  color: $color-gray-500 !important;
  text-transform: uppercase;
}

.navigation-sign_up {
  text-transform: uppercase;
  margin-left: $padding-default-horizontal;
}

a.navigation-cart_icon {
  color: $color-gray-500;
  font-size: $font-size-200;
}

.navigation-menu {
  position: absolute;
  width: 100%;
  background: $color-gray-200;
  left: 0;
  top: 100%;
  padding: $padding-large-vertical $padding-large-horizontal;
  z-index: -1;
  box-shadow: 0 5px 20px rgba(0,0,0,.1);
  display: none;

  @media screen and (min-width: $screen-md) {
    display: block;
    position: static;
    z-index: 100;
    background: transparent;
    padding: 0;
    box-shadow: none;
    top: 0;
    width: auto;
    height: 100%;
  }
}

.navigation-menu-list {
  height: 100%;
  overflow: hidden;
}

.navigation-menu-list_item {
  @media screen and (min-width: $screen-md) {
    display: inline-flex;
    align-items: center;
    height: 100%;
    position: relative;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $color-gray-300;

    @media screen and (min-width: $screen-md) {
      border-bottom: 0;
    }
  }
}

.navigation-menu-list_item-active {


  a.navigation-items-link {
    color: $color-secondary;

    &::before {
      transform: scaleX(1);
      background-color: $color-secondary;
    }
  }
}

a.navigation-items-link {
  color: $color-gray-600;
  padding-top: $padding-default-vertical;
  padding-bottom: $padding-default-vertical;
  display: block;
  text-transform: uppercase;

  @media screen and (min-width: $screen-md) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4px;
    padding-right: 4px;
    font-size: $font-size-100;
    position: relative;
    height: 100%;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: color 0.15s ease-in-out;
  }

  @media screen and (min-width: $screen-lg) {
    font-size: $font-size-200;
    padding-left: $padding-default-horizontal;
    padding-right: $padding-default-horizontal;
  }

  &::before {
    @media screen and (min-width: $screen-md) {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: $color-secondary;
      content: "";
      transform: scaleX(0);
      transition: transform 0.15s ease-in-out;
    }
  }

  &:hover {
    @media screen and (min-width: $screen-md) {
      color: $color-black;
    }

    &::before {
      @media screen and (min-width: $screen-md) {
        transform: scaleX(1);
        transition: transform 0.25s cubic-bezier(.7,-0.07,.41,1.3);
      }
    }
  }
}

a.navigation-items-link-deals {
  position: relative;
  color: $color-warning;

  &:hover {
    color: mix($color-black, $color-warning, 20%);
  }

  &::after {
    content: "\f005";
    font-family: 'FontAwesome';
    position: relative;
    top: -5px;
    font-size: $font-size-000;
    right: -3px;
  }
}

.navigation-user_info {
  display: flex;
  align-items: center;
}

.navigation-user_info-help {
  @media screen and (min-width: $screen-md) {
    margin-right: $padding-small-horizontal;
  }

  @media screen and (min-width: $screen-lg) {
    font-size: $font-size-200;
    margin-right: $padding-large-horizontal;
  }
}

.navigation-user_info-logged_out {
  display: flex;
  align-items: center;
}

.navigation-user_info-cart {
  margin-right: $padding-small-horizontal;

  @media screen and (min-width: $screen-lg) {
    margin-right: $padding-large-horizontal;
  }
}

.navigation-user_info-logged_out-log_in_link {
  text-transform: uppercase;
  color: $color-gray-600 !important;
  transition: color 0.15s ease-in-out;
  text-decoration: none;

  @media screen and (min-width: $screen-lg) {
    font-size: $font-size-200;
  }

  &:hover {
    color: $color-gray-700;
  }
}

.navigation-user_info-logged_out-sign_up_btn {
  margin-left: $padding-small-horizontal;
  height: auto !important;

  @media screen and (min-width: $screen-lg) {
    font-size: $font-size-200 !important;
    margin-left: $padding-large-horizontal;
  }
}
