/* =header
---------------------------------------------------------------------------- */
$color-nav-bg:  color('white');
$color-nav-active: color('gray-100');
$color-nav-hover: color('secondary');
$header_height: 50px;
$header_active_border_height: 3px;

%nav-item-stack {
  padding: 5px 10px 15px;
  text-align: center;

  .nav-item-icon {
    width: 100%;
  }
  .nav-item-label {
    display: inherit;
    font-size: font-size(100);
    line-height: 1;
  }
}

.navbar {
  height: $header_height;
  @extend %card-style;
  border: 0;
  border-radius: 0;

  .navbar-brand {
    display: block;
    margin-left: -15px;
    padding: 10px 30px;
    width: 250px;
    height: $header_height;

    .navbar-brand-logo {
      max-width: 190px;
      max-height: 50px;
    }
  }

  .nav-item-stack {
    @extend %nav-item-stack;
  }

  .navbar-toggle {
    padding: 10px;
    border: 0;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }
  }
  .navbar-collapse {
    border: 0;
  }

  // nuke bootstrap navbar a tag psuedo-selectors
  .navbar-nav > .open > a {
    color: $color-nav-hover;
    background-color: $color-nav-active;
    border: 1px solid transparent;
    &:hover, &:active, &:focus {
      color: $color-nav-hover;
      background-color: $color-nav-active;
      border: 1px solid transparent;
    }
  }
}

.navbar-stackable {
  .nav-item-tab {
    @extend %nav-item-stack;
  }
}

.navbar-fixed-top {
  .navbar-collapse {
    max-height: none;
  }
}

.nav {

  &.nav-pills {
    @extend %card-style;
  }

  .nav-item {
    @include clearfix;
    @extend %font-face-regular;
    font-size: font-size(300);

    .nav-item-tab,
    .nav-item-list {
      height: $header_height;
      color: color('gray-500');
      border: 1px solid transparent;
    }

    .nav-item-list-is_first {
      border-bottom: 1px solid color('gray-400');
    }
    .nav-item-list-is_last {
      border-top: 1px solid color('gray-400');
    }

    .nav-item-icon {
      font-size: font-size(400);
      line-height: 20px;
      vertical-align: bottom;
    }

    .nav-item-label {
      line-height: 20px;
    }

    &:hover, &:focus {
      .nav-item-tab,
      .nav-item-list {
        color: $color-nav-hover;
        background-color: $color-nav-active;
      }
    }

    &.active {
      .nav-item-tab {
        height: $header_height;
        color: color('gray-600');
        background-color: $color-nav-active;
        border-right: 1px solid color('gray-300');
        border-bottom: 1px solid color('gray-300');
        border-left: $header_active_border_height solid color('primary');

        @media (min-width: $screen-sm-min) {
          border-right: 1px solid color('gray-300');
          border-bottom: 3px solid color('primary');
          border-left: 1px solid color('gray-300');
        }
      }

      .nav-item-list {
        color: color('gray-600');
        background-color: $color-nav-active;
        border-top: 1px solid color('gray-300');
        border-bottom: 1px solid color('gray-300');
        border-left: 3px solid color('primary');
      }

      // neutralize hover on active nav selection
      &:hover .nav-item-tab, .nav-item-list {
        color: color('gray-600');
        background-color: $color-nav-active;
      }
    }

    &.login {
      a {
        display: inline-block;
      }
    }
  }
}

.navbar-dropdown {
  .nav,
  .collapse
  .dropup,
  .dropdown {
    position: static;
    &.dropdown-left {
      position: relative;
      .dropdown-menu {
        right: 0;
      }
    }
  }

  .container {
    position: relative;
  }

  .dropdown-menu {
    top: auto;
    left: auto;
    border: 0;
    border-top: $header_active_border_height solid $color-nav-hover;

    &.dropdown-menu-full {
      left: 0;
      right: 0;
    }
    &.dropdown-menu-sm {
      min-width: 160px;
    }
    &.dropdown-menu-md {
      min-width: 320px;
    }
    &.dropdown-menu-lg {
      min-width: 640px;
    }

    .dropdown-menu-content {
      padding: 10px 30px;
    }
  }

  // opens dropdown on hover instead of click
  @media (min-width: $screen-sm-min) {
    .nav li.dropdown:hover {
      & > ul.dropdown-menu {
        display: block;
      }
    }
  }
}
