$nav-icon_bar-width: 22px;
$close-icon-offset: -5px;
$mobile-menu-close-btn-height: 40px;

.navbar-header {
  @media (max-width: $grid-float-breakpoint) {
    float: none;
  }
}

.navbar-toggle {
  @media (max-width: $grid-float-breakpoint) {
    display: block;
  }
  @media (max-width: $screen-md) {
    margin-right: -10px; // equalize padding between right-side icons
  }
  @media (max-width: $screen-xs) {
    margin-left: 5px;
  }

  &:hover {
    .icon-bar {
      background-color: $color-secondary;
    }
  }

  // begin Hamburger + animation
  .icon-bar {
    background-color: $color-gray-600;
    transition: all 0.2s;
    width: $nav-icon_bar-width;
  }

  .icon-bar-back_slash {
    margin-bottom: $close-icon-offset;
    transform: rotate(-45deg);
  }

  .icon-bar-forward_slash {
    transform: rotate(45deg);
  }
}

.navbar-nav > li {
  @media (max-width: $grid-float-breakpoint) {
    float: none;
  }

  &.navigation-user_info-logged_out-mobile {
    display: none;

    @media (max-width: $grid-float-breakpoint) {
      display: block;
      padding: 5px 20px;
    }
  }
}

.navigation-user_info-logged_out-mobile > a.btn {
  @media (max-width: $grid-float-breakpoint) {
    padding-top: 10px; // custom pad req. to override BS to fix btn align bug
  }
}

.nav-mobile-menu {
  @media (max-width: $grid-float-breakpoint) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background-color: $color-white;
    transform: translateX(100%);
    transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out; // TODO - animate out
    z-index: $zindex-tooltip;
    overflow: hidden;

    &.in {
      opacity: 1;
      transform: translateX(0%);
      direction: rtl; // puts scrollbar to lefthand side
      overflow-y: scroll;
      width: $minimum-application-width;
      z-index: $in-front-of-primary-and-banner;

      @media (max-width: $screen-xs) {
        width: 100%;
      }

      .nav-mobile-menu-close {
        display: block;
      }
    }
  }
}

.nav-mobile-menu-close {
  display: none;
  height: $mobile-menu-close-btn-height;

  .navbar-toggle {
    margin-right: 0;
  }
}

// mobile menu button styling
.nav-mobile-menu-account {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  background-color: $color-white;
}
