// navigation cart styling
$cart-count-horizontal-position: -11px;
$cart-count-vertical-position: 9px;
$mobile-icon-size: 21px;

.navigation-user_info-cart-with_count {
  margin-right: $padding-large-horizontal * 1.5;
}

.navigation-user_info-cart-count {
  position: absolute;
  top: $cart-count-vertical-position;
  right: $cart-count-horizontal-position;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px 0 7px; // To make it look like a circle with 1 item in cart
  border-radius: 50px; // To get it looking like a pill when more items are added
}

.navigation-user_info-cart-with_count {
  margin-right: $padding-large-horizontal * 1.5;
}

.navigation-user_info-cart-count {
  position: absolute;
  top: $cart-count-vertical-position;
  right: $cart-count-horizontal-position;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 7px 0 6px; // To make it look like a circle with 1 item in cart
  border-radius: 50px; // To get it looking like a pill when more items are added
}

.navbar-nav > li > a {
  &.navigation-user_info-cart,
  &.navigation-user_info-help_link {
    padding-left: $padding-small-horizontal * 2;
    padding-right: $padding-small-horizontal * 2;
    background-color: inherit;
    @include transition($navigation-link-hover-transition);

    @media (max-width: $screen-lg) {
      padding-left: $padding-small-horizontal;
      padding-right: $padding-small-horizontal;
      font-size: $font-size-400;
    }

    @media (max-width: $screen-mobile-menu) {
      font-size: $mobile-icon-size;
      padding-left: $nav-horizontal-spacing;
      padding-right: 0;
    }

    &:hover .fa {
      color: $color-secondary;
      @include transition($navigation-link-hover-transition);
    }
  }
}
