
.f-primary_nav-side {
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  top: 0;
  right: -($f-primary_nav-side-width);
  bottom: 0;
  z-index: $f-primary_nav-side-zindex;
  width: $f-primary_nav-side-width;
  padding: 0 20px;
  background-color: $color-white;
  box-shadow: $f-primary_nav-shadow;
  direction: rtl;
  text-align: left;
  @include transition_normal(right);

  &.is-onscreen {
    right: 0;
    width: 100%;
  }
}

.f-primary_nav-side_section {
  padding: 8px 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 2px solid $color-gray-200;
  direction: ltr;

  &:last-child {
    border: none;
  }

  .f-primary_nav-side_signout_link {
    &:link,
    &:hover,
    &:active,
    &:visited {
      color: $color-forever_red;
    }
  }

  .f-primary_nav-side_link_base {
    text-transform: uppercase;
    display: block;
    font-family: $font-face-semibold;
    font-size: $font-size-200;
    padding: 8px 0;
  }

}

.f-primary_nav-side_section-close {
  position: relative;
  width: 22px;
  padding-top: 20px;
  align-self: flex-start;
  cursor: pointer;
  border: none;
  outline: none;

  &::before,
  &::after {
    position: absolute;
    right: 0;
    width: 22px;
    height: 2px;
    content: ' ';
    border-radius: 1px;
    background-color: $color-gray-600;
    @include transition_fast(background-color);
  }

  &::before { transform: rotate($f-primary_nav-side_section-close_angle); }
  &::after { transform: rotate(-($f-primary_nav-side_section-close_angle)); }

  &:hover {
    &::before,
    &::after { background-color: $color-forever_blue; }
  }
}

.f-primary_nav-side_section-info {
  padding-bottom: 15px;

  /* avatar/badge and storage meter */
  .f-primary_nav-side_info-avameter {
    display: flex;
    align-items: center;
  }

  .f-primary_nav-side_info-avatar {
    position: relative;
    flex: 0 1 auto;

    /* necessary to dig into avatar and add custom size*/
    .avatar {
      width: 80px;
      height: 80px;
    }

    img {
      position: absolute;
      height: 50px;
      width: 50px;
      top: 48px;
      left: 43px;
    }
  }

  .f-primary_nav-side_info-storage_meter {
    flex: 1 0 auto;
    padding-left: 15px;

    /*store only, mars has a component*/
    .f-primary_nav-side_info-storage_meter-bg {
      height: 10px;
      border-radius: 50px;
      background-color: $color-gray-300;
      margin-top: 4px;
      margin-bottom: 8px;
      width: 100%;
    }

    .f-primary_nav-side_info-storage_meter-percent {
      height: 100%;
      border-radius: 50px;
    }
    /* store only end*/

  }

  .f-primary_nav-side_info-club {
    margin-top: 30px;
    line-height: 1;
    text-align: center;
  }

}

.f-primary_nav-side_section-ecom_list {
  .f-primary_nav-side_ecom-deals_link {
    @include deals_link_base();
  }
}

.f-primary_nav-side_section-logged_out {
  .f-primary_nav-side_logged_out_button {
    margin-right: 20px;
    margin-top: 10px;
    display: block;
  }
}
