$radio_button_size: 20px;
$radio_button_check_size: 8px;

@mixin radio_button($background-color, $border-color) {
  position: absolute;
  top: 0;
  left: 0;
  width: $radio_button_size;
  height: $radio_button_size;
  background-color: $background-color;
  border: 2px solid $border-color;
  border-radius: $border-radius-radio-button;
  @include transition(border-color 0.2s ease-in-out, background-color 0.2s ease-in-out);
}

.radio-button-branded {
  position: relative;
  font-size: $font-size-default;

  &.radio-button { // using added specificity of .radio-button to override bootstrap
    display: inline-block;
 
    label {
      padding-left: $radio_button_size * 1.5;
    }
  }

  label {
    cursor: pointer;
    padding-left: $radio_button_size * 0.75;

    @media (max-width: $screen-md-min) {
      line-height: $font-size-default; // helps labels that wrap to two lines
    }

    &:before {
      @include radio_button($color-white, $color-gray-400);
      content: '';
    }

    &:hover::before {
      border-color: $color-gray-500;
      opacity: 1;
    }

    &.checked:before {
      @include radio_button($color-primary, color('primary-dark'));
    }

    &.disabled {
      cursor: not-allowed;

      &.checked:before {
        @include radio_button($color-gray-400, $color-gray-500);
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: $radio_button_check_size * 0.75;
      left: $radio_button_check_size * 0.75;
      width: $radio_button_check_size;
      height: $radio_button_check_size;
      background-color: $color-white;
      border-radius: $border-radius-radio-button;
    }
  } 

  input[type=radio] {
    visibility: hidden;

    &:checked + label:after,
    &:checked + .has-error label:after
     {
      @include radio_button($color-primary, color('primary-dark'));
      top: 2px;
      left: 2px;
      opacity: 1;
    }
  }
}
.radio-button-branded-inline {
  float: left;
  margin-right: $radio_button_size * 1.5;
}
