// TODO - this could be more dynamic w/ an @each, but I was having trouble w/ the syntax

.pull-right-xs {
  @media (max-width: $screen-xs-max) {
    float: right !important;
  }
}
.pull-right-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    float: right !important;
  }
}
.pull-right-md {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    float: right !important;
  }
}
.pull-right-lg {
  @media (min-width: $screen-lg-min) {
    float: right !important;
  }
}
.pull-right-grid-float-breakpoint {
  @media (min-width: $grid-float-breakpoint) {
    float: right !important;
  }
}

.pull-left-xs {
  @media (max-width: $screen-xs-max) {
    float: left !important;
  }
}
.pull-left-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    float: left !important;
  }
}
.pull-left-md {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    float: left !important;
  }
}
.pull-left-lg {
  @media (min-width: $screen-lg-min) {
    float: left !important;
  }
}
.pull-left-grid-float-breakpoint {
  @media (min-width: $grid-float-breakpoint) {
    float: left !important;
  }
}

// Utilities for new nav w/ custom breakpoint
.visible-mobile {
  @media (min-width: $grid-float-breakpoint + 1) {
    display: none !important;
  }
}

.hidden-mobile {
  @media (max-width: $grid-float-breakpoint) {
    display: none !important;
  }
}
