.select {
  @include center_with_flexbox(center, none);
  overflow: hidden;

  &:after {
    z-index: 1;
    content: '\f0d7';
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -30px;
    font-size: font-size('default');
    font-family: FontAwesome;
    color: color('gray-600');
  }
  .select-field {
    z-index: 2;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
// see windows dev center for pseudo-element definition: https://msdn.microsoft.com/en-us/library/windows/apps/hh465742.aspx
select::-ms-expand {
  display: none;
}
