/* =login & sign up buttons
---------------------------------------------------------------------------- */

.login {
  display: inline-block;
  float: left;

  @media (min-width: $screen-sm-min) {
    float: right;
  }
  .login-item {
    float: left;
    @extend %font-face-regular;
    font-size: font-size(400);

    &:first-child {
      margin-right: 5px;
    }
  }
  .btn {
    font-size: font-size('large');
  }
}
