/* =login & sign up buttons
---------------------------------------------------------------------------- */

.login {
  display: inline-block;
  float: right;

  .login-item {
    float: left;
    @extend %font-face-regular;
    font-size: font-size(400);

    &:first-child {
      margin-right: 5px;
    }
  }
  .btn {
    font-size: font-size('large');
  }
}
.navbar-right .login {
  padding: 2px 25px 0 0;

  @media( max-width: $screen-md) {
    padding-right: 10px
  }

  .btn {
    height: 35px;
    padding: 7px 10px;
    margin-top: 5px;
    font-size: font-size(300);
  }
}
.nav-item.login a {
  display: inline-block;
}
