/* =login & sign up buttons
---------------------------------------------------------------------------- */

.login {
  display: inline-block;
  float: right;

  .login-item {
    float: left;
    @extend %font-face-regular;
    font-size: font-size(400);

    &:first-child {
      margin-right: 5px;
    }
  }
  .btn {
    font-size: font-size('large');
  }
}

.navbar-right .login {
  .btn {
    font-size: font-size(300);
    padding: 7px 10px;
    height: 35px;
    margin-top: 5px;
  }

  padding: 2px 15px 0 0;
  @media( max-width: $screen-md) {
    padding-right: 10px
  }
}

.nav-item.login {
  a {
    display: inline-block;
  }
}
