.hero-subnav_spacer {
  padding-top: 47px;
  margin-top: -47px;

  @media (max-width: 768px) {
    padding-top: 0px;
    margin-top: 0px;
  }
}

.hero-subnav_offset {
  margin-top: -47px;

  @media (max-width: 768px) {
    margin-top: 0px;
  }
}

.hero-subnav_padding {
  padding-top: 47px;

  @media (max-width: 768px) {
    padding-top: 0px;
  }
}

.f-subnav-container {
  display: block;
  visibility: visible;
  position: sticky;
  height: 47px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 15px;
  padding-left: 15px;
  background: transparentize($color-white, 0.29);
  z-index: 1029;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  
}

@media (max-width: 768px) {
  .f-subnav-container{ 
    visibility: hidden;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }

}

.js-subnav.is-fixed{
  top: 50px;
  width: 100%;
  z-index: 1031;
}

.f-subnav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & > * {
    font-size: 15px;
  }

  & > .links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    overflow: visible;
    padding-inline-start: 0;

    & > a {
      flex-basis: 100%;
      text-align: center;
      color: $color-gray-600;
      white-space: nowrap;
      margin-right: 10px;

      &:last-child{
        margin-right: 20px;
      }

    }

    & > a:hover, a:active, > a:focus {
      text-decoration: none;
    }

    & > a:hover > span {
      background: transparentize($color-black, 0.95);
      color: $color-secondary;
      border-radius: 32px;
      padding: 4px 12px;
    }

    & > a > span {
      padding: 4px 12px;
      border-radius: 32px;
      transition: color 0.3s ease, background 0.3s ease;
    }

    & > a > span.active {
      background: transparentize($color-black, 0.95);
      color: $color-secondary;
      font-family: proxima_nova-semibold;
      border-radius: 32px;
      padding: 4px 12px;
    }
  }
}

.f-subnav-dropdown-trigger {
  position: relative;
}

.f-subnav-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: rgba(255,255,255,0.6);
  white-space: nowrap;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  
}
