<h3 class="style-guide-partial-title">
  Font Face &amp; Weight Utiilities
</h3>

<h5>Use .font-face-* classes to set type in various weights and styles of Proxima</h5>
<h5>Use the .font-face-gotham utility and then .font-weight-* classes to set type in various weights of Gotham</h5>

<div class="l-padded-thin"></div>

<div class="style-guide-partial-rendered">
  <table class="table">
    <tbody>

    <tr>
      <td><label>Proxima Nova</label></td>
      <td>
        <h4 class="font-face-light">I am proxima light <span class="pull-right">.font-face-light</span></h4>
        <h4 class="font-face-regular">I am proxima regular <span class="pull-right">.font-face-regular</span></h4>
        <h4 class="font-face-semibold">I am proxima semibold <span class="pull-right">.font-face-semibold</span></h4>
        <h4 class="font-face-bold">I am proxima bold <span class="pull-right">.font-face-bold</span></h4>
        <h4 class="font-face-italic">I am proxima italic <span class="pull-right">.font-face-italic</span></h4>
        <h4 class="font-face-bold_italic">I am proxima bold italic <span class="pull-right">.font-face-bold_italic</span></h4>
      </td>
    </tr>

    <tr>
      <td><label>Gotham</label></td>
      <td>
        <p class="font-face-gotham">I am Gotham .font-face-gotham</p>

        <p class="font-face-gotham font-weight-100 l-section">I am Gotham .font-weight-100</p>
        <p class="font-face-gotham font-weight-200">I am Gotham .font-weight-200</p>
        <p class="font-face-gotham font-weight-300">I am Gotham .font-weight-300</p>
        <p class="font-face-gotham font-weight-400">I am Gotham .font-weight-400</p>
        <p class="font-face-gotham font-weight-500">I am Gotham .font-weight-500</p>
        <p class="font-face-gotham font-weight-600">I am Gotham .font-weight-600</p>
        <p class="font-face-gotham font-weight-700">I am Gotham .font-weight-700</p>
        <p class="font-face-gotham font-weight-800">I am Gotham .font-weight-800</p>
        <p class="font-face-gotham font-weight-900">I am Gotham .font-weight-900</p>

        <p class="font-face-gotham font-weight-normal l-section">I am Gotham .font-weight-normal</p>
        <p class="font-face-gotham font-weight-bold">I am Gotham .font-weight-bold</p>
        <p class="font-face-gotham font-weight-bolder">I am Gotham .font-weight-bolder</p>
        <p class="font-face-gotham font-weight-lighter">I am Gotham .font-weight-lighter</p>
        <p class="font-face-gotham font-weight-initial">I am Gotham .font-weight-initial</p>
        <p class="font-face-gotham font-weight-inherit">I am Gotham .font-weight-inherit</p>
      </td>
    </tr>

    </tbody>
  </table>
</div>

