<h3 class="style-guide-partial-title">
  Text Formatting
</h3>
<div class="style-guide-partial-rendered">
  <table class="table">
    <tbody>
    <tr>
      <td><label>paragraph</label></td>
      <td><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consectetur dui at libero posuere molestie. Proin et turpis lorem. Quisque volutpat interdum neque in tempor. Maecenas sit amet viverra velit. In a laoreet velit.</p></td>
    </tr>
    <tr>
      <td><label>links</label></td>
      <td><a href="#">Lorem ipsum dolor sit amet</a></td>
    </tr>
    <tr>
      <td><label>small</label></td>
      <td><small>Lorem ipsum dolor sit amet</small></td>
    </tr>
    <tr>
      <td><label>strong</label></td>
      <td><strong>Lorem ipsum dolor sit amet</strong></td>
    </tr>
    <tr>
      <td><label>label</label></td>
      <td><label>Lorem ipsum dolor sit amet</label></td>
    </tr>
    </tbody>
  </table>
</div>

