<h3 class="style-guide-partial-title">
  Headings
</h3>
<div class="style-guide-partial-rendered">
  <table class="table">
    <tbody>
    <tr>
      <td><h1>h1. Forever heading</h1></td>
      <td class="type-info">Semibold 36px</td>
    </tr>
    <tr>
      <td><h2>h2. Forever heading</h2></td>
      <td class="type-info">Semibold 30px</td>
    </tr>
    <tr>
      <td><h3>h3. Forever heading</h3></td>
      <td class="type-info">Semibold 24px</td>
    </tr>
    <tr>
      <td><h4>h4. Forever heading</h4></td>
      <td class="type-info">Semibold 18px</td>
    </tr>
    <tr>
      <td><h5>h5. Forever heading</h5></td>
      <td class="type-info">Semibold 14px</td>
    </tr>
    <tr>
      <td><h6>h6. Forever heading</h6></td>
      <td class="type-info">Semibold 12px</td>
    </tr>
    </tbody>
  </table>
</div>

