<h3 class="style-guide-partial-title">
  Leads
</h3>
<div class="style-guide-partial-rendered">
  <table class="table">
    <tbody>
    <tr>
      <td><h6>.lead</h6></td>
      <td><p class="lead">Leads make a paragraph stand out!</p></td>
    </tr>
    <tr>
      <td><h6>.color-accent</h6></td>
      <td>
        <h2 class="color-accent">Make me an accent color!</h2>
        <small><%= link_to "learn more about color classes", style_guide_path + "/branding" %></small>
      </td>
    </tr>
    <tr>
      <td><h6>strong</h6></td>
      <td><strong>Lorem ipsum dolor sit amet</strong></td>
    </tr>
    </tbody>
  </table>
</div>
