<h3 class="style-guide-partial-title">
  Sizes
</h3>
<div class="style-guide-partial-rendered">
  <table class="table">
    <tbody>
    <tr>
      <td>
        <label>.font-size-{size}</label>
      </td>
      <td>
        <p class="font-size-100">Font Size 100</p>
        <p class="font-size-200">Font Size 200</p>
        <p class="font-size-300">Font Size 300</p>
        <p class="font-size-400">Font Size 400</p>
        <p class="font-size-500">Font Size 500</p>
        <p class="font-size-600">Font Size 600</p>
        <p class="font-size-700">Font Size 700</p>
        <p class="font-size-800">Font Size 800</p>
        <p class="font-size-lg">Font Size lg - same as 400</p>
        <p class="font-size-default">Font Size default - same as 300</p>
        <p class="font-size-sm">Font Size sm - same as 100</p>
      </td>
    </tr>
    </tbody>
  </table>
</div>

