<h3 class="style-guide-partial-title">
  Styles
</h3>
<div class="style-guide-partial-rendered">
  <table class="table">
    <tbody>
    <tr>
      <td><label>.page-title</label></td>
      <td>
        <h2 class="page-title">Page Title</h2>
        <small>The basic .page-title class allows you to remove the top margin from any heading so as to not interrupt columned markup. You can further modify with other classes and utilities like .color-accent, etc as neccessary.
        </small>
      </td>
    </tr>
    <tr>
      <td><label>.lead</label></td>
      <td><p class="lead">Leads make a paragraph stand out!</p></td>
    </tr>
    <tr>
      <td>
        <label>.color-{color}</label>
      </td>
      <td>
        <p class="color-primary">Make me a primary color!</p>
        <p class="color-secondary">Make me a secondary color!</p>
        <p class="color-accent">Make me a accent color!</p>
        <small><%= link_to raw(fa_icon "info-circle", text: "find more color styles"), style_guide_path + "/branding"  %></small>
      </td>
    </tr>
    </tbody>
  </table>
</div>
