<h3 class="style-guide-partial-title">
  Weights
</h3>
<div class="style-guide-partial-rendered">
  <table class="table">
    <tbody>
    <tr>
      <td><label>In Gotham font face</label></td>
      <td>
        <h4 class="font-weight-100">I am .font-weight-100</h4>
        <h4 class="font-weight-200">I am .font-weight-200</h4>
        <h4 class="font-weight-300">I am .font-weight-300</h4>
        <h4 class="font-weight-400">I am .font-weight-400</h4>
        <h4 class="font-weight-500">I am .font-weight-500</h4>
        <h4 class="font-weight-600">I am .font-weight-600</h4>
        <h4 class="font-weight-700">I am .font-weight-700</h4>
        <h4 class="font-weight-800">I am .font-weight-800</h4>
        <h4 class="font-weight-900">I am .font-weight-900</h4>
        <h4 class="font-weight-normal">I am .font-weight-normal</h4>
        <h4 class="font-weight-bold">I am .font-weight-bold</h4>
        <h4 class="font-weight-bolder">I am .font-weight-bolder</h4>
        <h4 class="font-weight-lighter">I am .font-weight-lighter</h4>
        <h4 class="font-weight-initial">I am .font-weight-initial</h4>
        <h4 class="font-weight-inherit">I am .font-weight-inherit</h4>
      </td>
    </tr>
    <tr>
      <td><label>In Promima font face</label></td>
      <td>While the font weight classes can be used, better results can be obtained from using the proxima font face variables.</td>
    </tr>
    </tbody>
  </table>
</div>

