/* =fonts
---------------------------------------------------------------------------- */
@include fontFace('proxima_nova-light', 'proxima_nova-light');
@include fontFace('proxima_nova-regular', 'proxima_nova-regular');
@include fontFace('proxima_nova-semibold', 'proxima_nova-semibold');
@include fontFace('proxima_nova-bold', 'proxima_nova-bold');
@include fontFace('proxima_nova-regular_italic', 'proxima_nova-regular_italic');
@include fontFace('proxima_nova-bold_italic', 'proxima_nova-bold_italic');

@each $id, $font-face in $font-faces {
  .font-face-#{$id} {
    font-family: #{$font-face};
  }
}

@each $id, $font-size in $font-sizes {
  .font-size-#{$id} {
    font-size: #{$font-size};
  }
}

@each $id, $font-weight in $font-weights {
  .font-weight-#{$id} {
    font-weight: #{$font-weight};
  }
}

@font-face {
  font-family: 'ProximaNova';
  src: url('#{$base-font-path}/proxima_nova-light.woff2') format('woff2'), // standards
  url('#{$base-font-path}/proxima_nova-light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('#{$base-font-path}/proxima_nova-regular.woff2') format('woff2'), // standards
  url('#{$base-font-path}/proxima_nova-regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('#{$base-font-path}/proxima_nova-regular_italic.woff2') format('woff2'), // standards
  url('#{$base-font-path}/proxima_nova-regular_italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('#{$base-font-path}/proxima_nova-semibold.woff2') format('woff2'), // standards
  url('#{$base-font-path}/proxima_nova-semibold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('#{$base-font-path}/proxima_nova-bold.woff2') format('woff2'), // standards
  url('#{$base-font-path}/proxima_nova-bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('#{$base-font-path}/proxima_nova-bold_italic.woff2') format('woff2'), // standards
  url('#{$base-font-path}/proxima_nova-bold_italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

