/* =fonts
---------------------------------------------------------------------------- */
@include fontFace('proxima_nova-light', 'ProximaNova-Light-webfont');
@include fontFace('proxima_nova-regular', 'ProximaNova-Reg-webfont');
@include fontFace('proxima_nova-semibold', 'ProximaNova-Sbold-webfont');
@include fontFace('proxima_nova-bold', 'ProximaNova-Bold-webfont');
@include fontFace('proxima_nova-regular_italic', 'ProximaNova-RegIt-webfont');
@include fontFace('proxima_nova-bold_italic', 'ProximaNova-BoldIt-webfont');

@each $id, $font-face in $font-faces {
  .font-face-#{$id} {
    font-family: #{$font-face};
  }
}

@each $id, $font-size in $font-sizes {
  .font-size-#{$id} {
    font-size: #{$font-size};
  }
}

@each $id, $font-weight in $font-weights {
  .font-weight-#{$id} {
    font-weight: #{$font-weight};
  }
}
