// Layout utility for applying padding to containers
// TODO extend these into more robust modules ex. l-padded l-padded-horizontal etc etc
.l-padded {
  padding: 20px;

  @media (min-width: $screen-md-min) {
    padding: 40px;
  }
}

.l-padded-thick {
  padding: 40px;

  @media (min-width: $screen-md-min) {
    padding: 60px;
  }
}

.l-padded-thin {
  padding: 10px;

  @media (min-width: $screen-md-min) {
    padding: 20px;
  }
}

// Create standard rhythm for vertical content spacing
.l-section {
  margin-top: 40px;

  @media (max-width: $screen-sm-max) {
    margin-top: 20px;
  }

  @media (max-width: $screen-xs-max) {
    margin-top: 10px;
  }
}

.l-section-close {
  margin-top: 20px;

  @media (max-width: $screen-sm-max) {
    margin-top: 10px;
  }

  @media (max-width: $screen-xs-max) {
    margin-top: 0;
  }
}

.l-section-far {
  margin-top: 60px;

  @media (max-width: $screen-sm-max) {
    margin-top: 40px;
  }

  @media (max-width: $screen-xs-max) {
    margin-top: 20px;
  }
}


.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}


.no-margin-top {
  margin-top: 0;
}
