<!-- render partial: "layouts/forever_style_guide/navigation" %> -->

<div class="container l-section">
  <div class="card l-section-far l-padded-thick" style="min-height: 800px;">
    <h1 clas="text-center color-accent page-title">Footer Demo</h1>
  </div>
</div>

<div class="l-section-far">
  <%= render partial: "forever_style_guide/sections/components/footer/footer" %>
</div>
