<%= render partial: "forever_style_guide/sections/components/navigation/nav" %>

<div class="hero_simple hero_simple-sample">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center color_block-trans-secondary hero_simple-block">
        <h1 class="page-title color-white hero_simple-shadow">Now presenting .hero_simple</h1>
        <h2 class="page-title color-white hero_simple-shadow hero_simple-subheading">With bonus <code>.color_block-trans</code> for easy implementation.</h2>
        <%= link_to 'Primary Action', "#", class: 'btn btn-lg btn-primary hero_simple-block-cta', title: "Primary Action" %>
        <%= link_to 'Learn More', "#", class: 'btn btn-lg btn-artisan btn-inverse hero_simple-block-cta ', title: "Learn More" %>
      </div>
    </div>
  </div>
</div>

<div class="clearfix l-padded"></div>

<div class="hero_simple hero_simple-sm color_block-services">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center l-padded hero_simple-sm-block">
        <h1 class="page-title color-white hero_simple-shadow">Only have text to work with?</h1>
        <h2 class="page-title color-white hero_simple-shadow hero_simple-subheading">No problem! <code>.hero_simple-sm</code> is here for you.</h2>
      </div>
    </div>
  </div>
</div>

<div class="clearfix l-padded"></div>

<div class="hero_simple hero_simple-sm hero_simple-sm-action color_block-accent">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center l-padded">
        <h1 class="page-title color-white hero_simple-shadow">Need to add something extra?</h1>
        <h2 class="page-title color-white hero_simple-shadow hero_simple-subheading"><code>.hero_simple-sm-action</code> should help.</h2>
        <div class="hero_simple-sm-action-section">
          <%= link_to 'Primary Action', "#", class: 'btn btn-lg btn-link btn-inverse col-lg-2 col-lg-offset-5', title: "Primary Action" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix l-padded"></div>
