<%= render partial: "forever_style_guide/sections/components/navigation/nav" %>

<div class="hero hero-sample">
  <div class="row">
    <div class="col-md-12">
      <div class="hero-block hero-block-side">
        <h1 class="hero-block-title page-title">Combine hero styles.</h1>
        <h3 class="hero-block-description">Use hero-specific markup as well as Bootstrap and Forever custom styles.</h3>
        <div class="row hero-block-actions">
          <div class="col-md-12">
            <%= link_to 'Include Clear Calls to Action', '#', class: 'btn btn-lg btn-valet btn-block', title: "Include Clear Calls to Action" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix l-padded"></div>

<div class="hero hero-sample hero-sm hero-shaded">
  <div class="row l-padded-thick">
    <div class="col-sm-6">
      <h2 class="l-section">Add the .hero-shaded class to add a gradient to the top of the image. Make sure your text is legible against your image at all sizes.</h2>
      <%= link_to 'Use brand colors for CTAs as appropriate', '#', class: 'btn btn-lg btn-historian l-section', title: "Use brand colors for CTAs as appropriate" %>
    </div>
  </div>
</div>
