<header id="header-is_fixed">
  <%= render partial: "forever_style_guide/sections/components/navigation/nav" %>
</header>

<div class="hero_simple hero_simple-sample">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center color_block-trans-secondary hero_simple-block">
        <h1 class="page-title color-white hero_simple-shadow">Check out our Unified Nav Component</h1>
        <h2 class="page-title color-white hero_simple-shadow hero_simple-subheading">It gives users a robust and consistent experience</h2>
        <%= link_to 'Primary Action', "#", class: 'btn btn-lg btn-primary hero_simple-block-cta', title: "Primary Action" %>
        <%= link_to 'Learn More', "#", class: 'btn btn-lg btn-artisan btn-inverse hero_simple-block-cta ', title: "Learn More" %>
      </div>
    </div>
  </div>
</div>

<div class="color_block-white">
  <div class="container">
    <div class="l-padded-thick" style="min-height: 800px;" >
    <h1>Fixed Navigation</h1>
      <p>To implement fixed navigation:</p>
      <ol>
        <li>Document usage</li>
      </ol>
      <p>How it works:</p>
      <ul>
        <li>Add necessary clarifications</li>
      </ul>
    </div>
  </div>
</div>
