<div class="jumbotron style-guide-section-header style-guide-section-header-primary hero hero-md">
  <div class="container style-guide-section-header-title">
    <h1>Style Guide Nav</h1>
  </div>
</div>

<div>
  <%= render partial: "forever_style_guide/sections/components/navigation/dropdown" %>
</div>
<div class="jumbotron style-guide-section-header style-guide-section-header-secondary hero hero-md">
  <div class="container style-guide-section-header-title">
    <h1>Dropdown Nav</h1>
  </div>
</div>
