<header id="header-is_fixed">

<!-- Promo banner markup -->
<div class="promo-banner container-fluid">
  <div class="row text-center">
    <div class="col-xs-12">

      <h3 class="page-title color-white hidden-xs">Promo Banner has a really compelling message!</h3>

      <%= link_to '#', title: "Holiay Gift Guide", class: 'btn btn-promo btn-action' do %>
        <i class="fa fa-gift btn-action-icon"></i>
        <label class="btn-action-label">And a sweet CTA</label>
      <% end %>

    </div>
  </div>
</div>

  <%= render partial: "forever_style_guide/sections/components/navigation/marketing_signed_in" %>
</header>

<div class="container l-section">
  <div class="card l-section-far l-padded-thick" style="min-height: 1200px;">
  <h1>Promo Banner</h1>
    <p>To implement:</p>
    <ol>
      <li>Step one</li>
      <li>Two</li>
      <li>Etc</li>
    </ol>
  </div>
</div>
    

