<div class="card style-guide-partial" id="code_style">
  <h2 class="style-guide-partial-title">CSS Code Style Guide</h2>
  <div class="style-guide-partial-description">
    <h4>Formatting Rules</h4>
    <ul>
      <li>Indent with 2 spaces.</li>
      <li>Open curly bracket on the definition line, no newline between rules, and use spaces after property names.</li>
      <li>Always use semicolons, even on the last rule where it's not required.</li>
    </ul>
<pre class="style-guide-partial-source prettyprint linenums show">
body {
  padding-top: 70px;
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}
.brand {
  float: left;
  padding-right: 8px;
}
</pre>
    <h4>Declaration Ordering</h4>
    <p>Order properties loosely based on:</p>
    <ol>
      <li>Positioning (e.g. position: absolute, float: left, clear: both)</li>
      <li>Sizing (width, height)</li>
      <li>Margin and Padding</li>
      <li>Decoration (color, border, font)</li>
    </ol>
  </div>
</div>
