<div class="style-guide-partial" id="shame">
  <h2 class="style-guide-partial-title">_shame.scss is where bad CSS goes to die</h2>
  <div class="style-guide-partial-description">
    <p>Sometimes we just have to write bad CSS... its not even our fault sometimes!  We have other libraries we have to depend on and override with <code>!important</code>.  We have deeply nested selectors for legacy components we haven't gotten around to refactorings.  We have poorly named global variables expected by external services.  If you find yourself in this situation please follow the prescribed emergency procedures:</p>

    <h4>Step 1: Find a grown up</h4>
    <p>Ask a team member or post in hipchat a notice of the incoming aggravation.  If no suitable alternative is presented proceed to step 2 with your foul deed.</p>

    <h4>Step 2: Banish it to _shame.scss</h4>
    <p>This keeps the abomination isolated with other grotesque kin so that eventually refactoring them out and keeping track of them among all our other pristine and modular CSS isn't a problem.</p>
    <p class="text-danger"><strong>NOTE:</strong> if the _shame.scss file becomes cumbersome due to how many hideous creature lurk within it, now may be a great time to review the file and see which of them could possibly be resolved in some more modular and appropriate solution.  Otherwise something truly terrible has happened and is beyond the scope of this guide to help you with.</p>
  </div>
</div>
