@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "forever_style_guide/globals/colors";
@import "forever_style_guide/globals/fonts";

$shadow-color: rgba($gray-500, 0.6);

%no-shadow {
  @include box-shadow(none);
  @include text-shadow(none);
}

%card-shadow {
  @include box-shadow($shadow-color 0 2px 4px);
}

%footer-shadow {
  @include box-shadow(lighten($shadow-color, 30%) 0 -1px 2px);
}

%text-shadow {
  @include text-shadow($shadow-color 0 1px 2px);
}

%item-shadow {
  @include box-shadow($shadow-color 1px 1px 1px);
}

%inset-shadow {
  @include box-shadow(inset 0 3px 5px $shadow-color );
}

%gray-gradient {
  @include background-image(linear-gradient($white, $gray-300));
}

%card-style {
  @extend %card-shadow;
  background-color: $color-card-bg;
}

%btn-style {
  @extend %item-shadow;
  @extend %font-size-300;
  @extend %background-silver;
  @extend %color-gray-600;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-shadow: none;
  font-size: 16px;
  @include transition-property(background-color);
  @include transition-duration(0.3s);

  &:hover,
  &:active {
    @extend %background-white;
  }

  &:active:focus {
    @extend %inset-shadow;
    outline: none;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}
