/* =fonts
---------------------------------------------------------------------------- */
@mixin fontFace($family, $src) {
  @font-face {
    font-family: $family;
    src: font-url('#{$src}.eot'); // IE9 compat
    src: font-url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
      font-url('#{$src}.woff') format('woff'), // standards
      font-url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
      font-url('#{$src}.svg##{$family}') format('svg'); // legacy iOS
  }
}

@include fontFace('proxima_nova-light', 'ProximaNova-Reg-webfont');
@include fontFace('proxima_nova-regular', 'ProximaNova-Reg-webfont');
@include fontFace('proxima_nova-semibold', 'ProximaNova-Sbold-webfont');
@include fontFace('proxima_nova-bold', 'ProximaNova-Bold-webfont');
@include fontFace('proxima_nova-regular_italic', 'ProximaNova-RegIt-webfont');
@include fontFace('proxima_nova-regular_bold_italic', 'ProximaNova-BoldIt-webfont');

/* =font faces
   ---------------------------------------------------------------------------- */
$font-face-light:           'proxima_nova-light', Helvetica, Arial, sans-serif;
$font-face-regular:         'proxima_nova-regular', Helvetica, Arial, sans-serif;
$font-face-semibold:        'proxima_nova-semibold', Helvetica, Arial, sans-serif;
$font-face-bold:            'proxima_nova-bold', Helvetica, Arial, sans-serif;
$font-face-regular_italic:  'proxima_nova-regular_italic', Helvetica, Arial, sans-serif;
$font-face-bold_italic:     'proxima_nova-bold_italic', Helvetica, Arial, sans-serif;;

$font-face-gotham:          'Gotham A', 'Gotham B', Helvetica, Arial, sans-serif;

/* =font sizes
   ---------------------------------------------------------------------------- */
$font-size-100: 12px;
$font-size-200: 14px;
$font-size-300: 16px;
$font-size-400: 18px;
$font-size-500: 24px;
$font-size-600: 36px;
$font-size-700: 48px;
$font-size-800: 64px;

$font-size-large: $font-size-400;
$font-size-default: $font-size-300;
$font-size-small: $font-size-100;

