$header_active_border_height: 2px;
$color-nav-hover: color('secondary');

@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

@mixin transition($transition-property: all, $transition-time: 0.3s, $method: ease) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin center_with_flexbox ($flex-align, $justify-content) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: $flex-align;
  -ms-flex-align: $flex-align;
  -webkit-align-items: $flex-align;
  align-items: $flex-align;
  -webkit-justify-content: $justify-content;
  justify-content: $justify-content;
}

@mixin border_highlight($direction, $color: $color-nav-hover) {
  border: 0;
  border-#{$direction}: $header_active_border_height solid $color;
}


// Shared nav mixin for offcanvas mobile nav or desktop user ingo
@mixin off-canvas-style {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background-color: $color-white;
  transform: translateX(100%);
  transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out; // TODO - animate out
  z-index: $zindex-tooltip;
  overflow: hidden;

  &.in {
    padding-left: 20px;
    padding-right: 20px;
    opacity: 1;
    transform: translateX(0%);
    direction: rtl; // puts scrollbar to lefthand side
    overflow-y: scroll;
    width: $minimum-application-width;
    z-index: $in-front-of-primary-and-banner-and-impersonation;

    @media (max-width: $screen-xs) {
      width: 100%;
    }

    .nav-mobile-menu-close {
      display: block;
    }
    .navbar-toggle {
      display: block;
      padding-right: 0;
    }
  }
}
