/dist
/node_modules

/log/*
/tmp/*

.sass-cache

# Mac finder artifacts
.DS_Store

.idea

# Textmate project files
/*.tmproj

# vim artifacts
**.swp

# Environment files that may contain sensitive data
.env
.powenv
