<div><label>Dropdown &amp; Dropup</label></div>
<div class="col-xs-6 l-section-close" style="float: left;">

<!-- Begin Dropdown for use in other applications -->
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#" title="">Action</a></li>
      <li><a href="#" title="">Another action</a></li>
      <li><a href="#" title="">Something else here</a></li>
      <li><a href="#" title="">Separated link</a></li>
    </ul>
  </div>


</div>
<div class="col-xs-6 l-section-close" style="float: left;">

<!-- Begin Dropup for use in other applications -->
  <div class="dropup">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropup
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <li><a href="#" title="">Action</a></li>
      <li><a href="#" title="">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li><a href="#" title="">Separated link</a></li>
    </ul>
  </div>


</div>
<div class="clearfix l-section l-padded"></div>
