<label>.polaroid_photo_border</label>
<div>
  <img src="/assets/style_guide/hero/beach-girl-xs.jpg" class="polaroid_photo_border">
</div>
<p>Subtly mimics the polaroid style being used in print and other materials, particularly for ambassadors.</p>
