<label>Basic Forms</label>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox checkbox-branded l-section">
    <label for="agree" class="checkbox-label">
      <input type="checkbox" name="agree" id="agree">
      <span class="checkbox-visual"></span>
      Click here if you agree to the Terms &amp; Conditions
    </label>
  </div>
  <div class="form-group  l-section-close">
    <div class="checkbox checkbox-inline checkbox-branded">
      <label for="inline1" class="checkbox-label">
        <input type="checkbox" name="inline1" id="inline1" check>
        <span class="checkbox-visual"></span>
        Inline option
      </label>
      <label for="inline2" class="checkbox-label">
        <input type="checkbox" name="inline2" id="inline2">
        <span class="checkbox-visual"></span>
        Inline alternate option
      </label>
    </div>
  </div>
  <div class="radio radio-branded l-section">
    <label class="radio-label">
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      <span class="radio-visual"></span>
      Option one is this and that&mdash;be sure to include why it's great
    </label>
    <label class="radio-label radio-branded l-section-close">
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      <span class="radio-visual"></span>
      Option two can be something else and selecting it will deselect option one
    </label>
  </div>
  <div class="form-group l-section-close">
  <div class="radio radio-inline radio-branded">
    <label class="radio-label">
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      <span class="radio-visual"></span>
      Option One Inline
    </label>
    <label class="radio-label radio-branded">
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      <span class="radio-visual"></span>
      Option Two Inline
    </label>
    <label class="radio-label radio-branded">
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      <span class="radio-visual"></span>
      Option Three Inline
    </label>
  </div>
  </div>
  <div class="form-group l-section">
    <div class="select">
      <select class="select-field form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr>
<label>Input Sizing</label>
<form>
  <div class="form-group">
    <input class="form-control input-lg" type="text" placeholder=".input-lg">
    <input class="form-control" type="text" placeholder="Default input">
    <input class="form-control input-sm" type="text" placeholder=".input-sm">
    <input class="form-control input-xs" type="text" placeholder=".input-xs">
  </div>
  <div class="form-group">
    <div class="select">
      <select class="select-field form-control input-lg"><option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="select">
      <select class="select-field form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="select">
      <select class="select-field form-control input-sm">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div class="select">
      <select class="select-field form-control input-xs">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
</form>
