<div class="card style-guide-partial" id="typography">
  <h2 class="style-guide-partial-title">
    Typography
  </h2>

  <div class="style-guide-partial-description">
    <p>Maintaining consistent formatting for typography is important for maintaining a sense of familiarity between different Forever apps and content.</p>
  </div>

  <div class="style-guide-partial-content">
    <%= render partial: sections_path.join("visual_elements","typography","headings").to_s %>
    <%= render partial: sections_path.join("visual_elements","typography","paragraph").to_s %>
  </div>
</div>
