.form-control {
  border-radius: $border-radius-default;
  height: $btn-size;
}

.form-group {
  margin-bottom: 15px;
}

.form-group-no_label {
  @media (min-width: $screen-md-min) {
    margin-top: 25px; // visual alignment for second field with no label, i.e. inline "Last Name"
  }
}

.input-lg,
.input-lg.form-control {
  height: $btn-lg-size;
  border-radius: $border-radius-large;
  @extend %font-face-light;
  font-size: font-size('large');
}

.input-sm,
.input-sm.form-control {
  height: $btn-sm-size;
  border-radius: $border-radius-small;
  font-size: font-size('small');
}

.input-xs,
.input-xs.form-control {
  height: $btn-xs-size;
  border-radius: $border-radius-small;
  font-size: font-size('small');
}

label {
  font-family: $font-face-regular;
  font-weight: normal;
}
