
* {
  @extend %font-face-regular;
}

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: color('text');
}

h1 {
  @extend %font-face-light;
  font-size: font-size(700);

  @media (max-width: $screen-sm-max) {
    font-size: font-size(600);
  }
  @media (max-width: $screen-xs-max) {
    font-size: font-size(500);
  }
}
h2 {
  @extend %font-face-light;
  font-size: font-size(600);

  @media (max-width: $screen-sm-max) {
    font-size: font-size(500);
  }
  @media (max-width: $screen-xs-max) {
    font-size: font-size(400);
  }
}
h3 {
  @extend %font-face-regular;
  font-size: font-size(500);

  @media (max-width: $screen-sm-max) {
    font-size: font-size(400);
  }
  @media (max-width: $screen-xs-max) {
    font-size: font-size(300);
  }
}
h4 {
  @extend %font-face-semibold;
  font-size: font-size(400);
  @media (max-width: $screen-sm-max) {
    font-size: font-size(400);
  }
  @media (max-width: $screen-xs-max) {
    font-size: font-size(300);
  }
}
h5 {
  @extend %font-face-semibold;
  font-size: font-size(300);
}
h6 {
  @extend %font-face-semibold;
  font-size: font-size('default');
}
p {
  @extend %font-face-regular;
  font-size: font-size('default');
  line-height: 1.6;
}
small {
  @extend %font-face-regular;
  font-size: font-size(100);
}
b,
strong {
  @extend %font-face-bold;
  color: color('text');
}
.page-title {
  margin-top: 0;
}
.lead {
  color: color('text');
}
a {
  color: color('secondary');
  &:link,
  &:visited {
    color: color('secondary');
  }
  &:hover,
  &:active {
    color: color('secondary');
    p,
    b,
    strong,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: color('secondary');
    }
  }
}
