@import "forever_style_guide/globals/colors";
@import "compass/utilities/color/contrast";

.color_swatch {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px 0px 0px 2px;
  padding: 5px;
};

@each $id, $color in $colors {
  .color-#{$id} {
    background-color: $color;
    color: contrast-color($color, shade($color, 30%), tint($color, 30%), 30%);
    &:after {
      content: "#{$color}";
    }
  };
};
