.hero.hero-sample {
  background-image: image-url("style_guide/hero/beach-girl.jpg");
}

.hero-february { // demo style
    background-image: image-url("style_guide/hero/february-deal-hero.jpg");  

    @media (min-width: $screen-xs) {
      background-image: image-url("style_guide/hero/february-deal-hero-xs.jpg");
    }
    @media (min-width: $screen-md) {
      background-image: image-url("style_guide/hero/february-deal-hero-sm.jpg");
    }
    @media (min-width: $screen-xl) {
        background-image: image-url("style_guide/hero/february-deal-hero-xl.jpg")
    }
  }
