.hero_simple-sample {
  margin-top: $header-height;
  background-image: image-url("style_guide/hero/beach-girl-xs.jpg");
  background-size: contain;

  @media (min-width: $screen-xs) {
    background-image: image-url("style_guide/hero/beach-girl-sm.jpg");
  }
  @media (min-width: $screen-sm) {
    background-image: image-url("style_guide/hero/beach-girl-md.jpg");
    background-size: cover;
    background-position: 0% 94%;
  }
  @media (min-width: $screen-lg) {
    background-image: image-url("style_guide/hero/beach-girl.jpg");
  }
}
