.modal-close-position {
  float: right;
}

.modal-theme {
  color: $color-white;
}

h3.modal-title {
  color: inherit;
  font-family: $font-face-light;
}

.modal-footer-buttons {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer-txt {
  line-height: 3;
  font-family: $font-face-bold;
  color: $color-gray-600;
}

.modal-footer-info {
  padding: 10px;
}

.modal-body-info {
  padding: 30px;
}

.modal-body-title {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
}
