@import "forever_style_guide/globals/colors";
@import "forever_style_guide/globals/effects";

.style-guide-section-header {
  @extend %card-style;

  &.style-guide-section-header-primary {
    height: 300px;
    @extend %background-primary;
  }

  &.style-guide-section-header-secondary {
    height: 200px;
    @extend %background-secondary;

    .style-guide-section-header-title {
      padding: 0;
    }
  }

  &.style-guide-section-header-accent {
    @extend %background-accent;
  }

  .style-guide-section-header-title {
    padding: 30px 0;
    @extend %color-white;
    @extend %text-shadow;
  }
}
