@import "forever_style_guide/globals/colors";
@import "forever_style_guide/globals/effects";

.style-guide-section-header {
  height: 210px;

  &.style-guide-section-header-primary {
    background-color: $color-primary;
  }

  &.style-guide-section-header-secondary {
    background-color: $color-secondary;
  }

  &.style-guide-section-header-accent {
    background-color: $color-accent;
  }

  .style-guide-section-header-title {
    color: $white;
    @extend %text-shadow;
  }
}
