.style-guide-section-header {
  @extend %card-style;

  &.style-guide-section-header-primary {
    background-color: color('primary');
  }

  &.style-guide-section-header-secondary {
    background-color: color('secondary');

    .style-guide-section-header-title {
      padding: 0;
    }
  }

  &.style-guide-section-header-accent {
    background-color: color('accent');
  }

  .style-guide-section-header-title {
    padding: 30px 0;
    color: color('white');
    @extend %text-shadow;
  }
}
