<div class="style-guide-partial" id="types_of_writing">
  <div class="style-guide-partial-title"> 
    Types of Writing (Forever's Tone)
  </div>

  <div class="style-guide-partial-description">
    <h3>Writing for the Marketing Site</h3>
    <p><strong>Reader's feelings:</strong> curious, distracted, skeptical</p>
    <p><strong>Our tone:</strong> warm, clear, honest, positive and friendly</p>
    <p>As always, be clear and concise. When describing features, stick to skimable lists rather than long paragraphs.</p>
    <blockquote>
      <ul>
        <li><em>Add text, frames, stickers and more to your photos</em></li>
        <li><em>Use descriptions and add dates to help you remember all of the special details</em></li>
        <li><em>Upload your existing scrapbook pages or create new ones</em></li>
      </ul>
    </blockquote>
    <p>Look for places to add warmth, emotion, and humanity. The marketing site is less playful and personal than the blog or social media, but it shouldn't be cold and impersonal either.</p>
    <blockquote>
      <p>You can inject warmth even in small places that may not jump out to you:</p>
      <p><em>Contact us</em> could be <em>Talk to a human</em>.</p><p>(except that example is shamelessly stolen from <%= link_to("Legacybox","https://legacybox.com/our-story/")%>.)</p>
    </blockquote>

    <h3>Writing for the Blog</h3>
    <p><strong>Reader's feelings:</strong> curious, intrigued, skeptical, critical</p>
    <p><strong>Our tone:</strong> casual, personal, honest, positive and friendly</p>
    
    <h4>Goals:</h4>
      <ul>
        <li>Provide good, interesting, useful content for users and potential users. (Quality over quantity.)</li>
        <li>Present ourselves as experts in our field.</li>
        <li>Provide updates on our products.</li>
      </ul>
    <p>Use keywords.</p>

    <h3>Writing for Social Media</h3>
    <p><strong>Reader's feelings:</strong> curious, distracted, confused, unsure </p>
    <p><strong>Our tone:</strong> casual, cheerful, helpful</p>
    <p>Social media is us at our most casual. There's room for individual personalities to shine through a little in one-on-one communication, but avoid jokes and sarcasm. The most important thing is to be conversational.</p>
    <p>When responding to people individually, sign your name if there's room. The occasional smiley faces or emoticon can be used if it feels appropriate. (If you're at all doubtful, don't.)</p>
    <blockquote>
      <h4>Instead of:</h4>
      <p><em>We take great pleasure in assisting you.</em></p>

      <h4>Try:</h4>
      <p><em>Happy to help! Let me know if there's anything else I can do. —Name</em></p>
    </blockquote>
    <p>Offer a personal email for more in-depth questions if someone's curious, particularly on Twitter where it can be difficult to have a nuanced conversation. Don't make it feel like you're unwilling to have difficult conversations in public though—we don't want people to think we have something to hide.</p>
    <blockquote>
      <p><em>Feel free to email me at name@forever.com [if you'd like] [if you have more questions] [if you'd like a more in-depth response].</em> </p>
    </blockquote>

    <h3>Writing Emails</h3>
    <p><strong>Reader's feelings</strong> distracted, curious, annoyed</p>
    <p><strong>Our tone:</strong> clear, personal, positive and friendly</p>
    <p>Emails need to be clear and simple. Is the primary point of the email clear? If someone skims and doesn't read anything but headers and bold words, would they understand what they're supposed to do?</p>

    <h3>Writing for the Apps</h3>
    <p><strong>Reader's feelings:</strong> curious, distracted, confused </p>
    <p><strong>Our tone:</strong> clear, personal, warm, positive and friendly</p>
    <p>Clear, helpful, concise language. Where possible, when not in a potentially tense situation, air on the side of conversational.</p>
    <blockquote>
      <p><em>Check out our terms of service and privacy policy for the nitty gritty details.</em></p>
    </blockquote>
    <p>All headers, proper nouns, form labels, buttons, and site section names should have the first letter of each word capitalized.</p>
    <p>Good news, announcements, or confirmations can be more casual and delightful. For bad news, keep it more serious and avoid adding additional frustration.</p>

    <h4>Error Messages</h4>
    <p><strong>Reader's feelings:</strong> confused, annoyed, stressed, angry</p>
    <p><strong>Our tone:</strong> clear, calm, straightforward, helpful</p>
    <p>Don't use exclamation points or unnecessarily alarming language like "ALERT". Make sure you clearly explain what's going wrong and what actions the user needs to take. They're likely to be frustrated and confused, we want to make it as simple as possible for them.</p>
    <blockquote>
      <h4>Instead of:</h4>
      <p><em>Can't be blank.</em></p>
      <h4>Try:</h4>
      <p><em>Please enter your name.</em> or <em>Please enter a valid email.</em></p>
    </blockquote>

    <h4>Microcopy Pattern</h4>
    <p>[COMING SOON]</p>

    <h3>Writing Help Documentation?</h3>
    <p><strong>Reader's feelings:</strong> confused, annoyed, stressed</p>
    <p><strong>Our tone:</strong> straightforward, helpful, kind</p>

    <h3>Additional Resources</h3>
    <p><a href="http://voiceandtone.com/"> MailChimp's voice and tone guide</a> is a fantastic resource. We may not be MailChimp, but there's a lot there that's applicable. Well worth a read.</p>
  </div>
</div>
