<div class="jumbotron style-guide-section-header style-guide-section-header-secondary">
  <div class="container style-guide-section-header-content">
    <h1 class="style-guide-section-header-title"><%= fa_stacked_icon section.icon + " feature_bullet-icon", base: "circle feature_bullet-circle", class: "fa-feature_bullet fa-feature_bullet-secondary fa-inverse" %><%= section.title %></h1>
  </div>
</div>
