<div class="jumbotron style-guide-section-header">
  <div class="container style-guide-section-header-content">
    <h2 class="style-guide-section-header-title"><%= section.title %></h2>
  </div>
</div>
