<div class="jumbotron style-guide-section-header">
  <div class="container style-guide-section-header-content">
    <h1 class="style-guide-section-header-title"><%= fa_stacked_icon section.icon + " inverse", base: "circle", class: "feature-icon" %><%= section.title %></h1>
  </div>
</div>
