<ul class="style-guide-sidebar" data-spy="affix" data-offset-top="100" data-offset-bottom="200">
  <% section.partials.each do |partial| %>
  <li class="style-guide-sidebar-partial">
    <a href="#<%= partial.id %>">
      <i class="glyphicon glyphicon-chevron-right"></i>
      <%= partial.title %>
    </a>
  </li>
  <% end %>
</ul>
