<div class="style-guide-sidebar" data-spy="affix" data-offset-top="10" data-offset-bottom="200">
  <% section.partials.each do |partial| %>
  <div class="style-guide-sidebar-partial">
    <a href="#<%= partial.id %>">
      <i>&rsaquo;</i>
      <%= partial.title %>
    </a>
  </div>
  <% end %>
</div>
