<div class="style-guide-partial" id="sophia">
  <h3 class="style-guide-partial-title">
    Sophia
  </h3>

  <div class="style-guide-partial-description">
    <div class="persona persona-sophia">
      <div class="persona-header">
        <%= image_tag("forever_style_guide/personas/sophia_avatar.png", class: "avatar avatar-large persona-header-avatar") %>
        <h1 class="persona-header-title">Sophia - Super Scrapbooker</h1>
        <blockquote class="persona-header-quote">
          <q>I turn off the geo-data and facial recognition on my photos and photo programs, so that's not valuable to me.</q>
        </blockquote>
      </div>
      <div class="persona-body">
        <p>Sophia is an A-Type personality and super scrapbooker extrordiare!</p>
      </div>
    </div>
  </div>
</div>
