<div class="style-guide-partial" id="apologies">
  <div class="style-guide-partial-title">
    Apologies
  </div>

  <div class="style-guide-partial-description">
    <h3>Anatomy of an Apology:</h3>
    <ol>
      <li>I’m sorry.</li>
      <li>Here’s my understanding of how I hurt you.</li>
      <li>I will never do this again.</li>
      <li>Here is how I’m going to make it right.</li>
    </ol>
    <p>Don't use "if" or "but".</p>
    <blockquote>
      <h4>Instead of:</h4>
      <p><em>We’re sorry if your [stuff got lost] [feelings were hurt] [card got charged too much].</em></p>
      <h4>Try:</h4>
      <p><em>We screwed up.</em></p>
    </blockquote>
    <p>Keep it clear and simple.</p>
    <blockquote>
      <h4>Instead of:</h4>
      <p><em>Our apologies for any inconvenience this may have caused.</em></p>
      <h4>Try:</h4>
      <p><em>We’re sorry for the delay.</em></p>
    </blockquote>
    <p>What we do after is just as important. Make sure to follow through with any promises.</p>

    <h3>When things go wrong</h3>
    <p>Everyone screws up at some point. The good news is it can also be an incredible opportunity. How we handle those problems reveals who we really are, whether we mean what we say or whether it’s just marketing fluff that sounds good but gets abandoned at the first sign of trouble. It can set us apart, and it can create an impression that really lasts. It can be the sort of thing people tell their friends about, creates loyalty. If we react poorly, we discredit all the hard work we put in to building a positive voice. But if we handle it well, it can in the long run be a blessing in disguise.</p>

    
  </div>
</div>
