<div class="style-guide-partial" id="guidelines">
  <div class="style-guide-partial-title">
   	General Guidelines
  </div>

  <div class="style-guide-partial-description">
  	<p>Less is more. People reading online are likely to be skimming and you rarely have their full attention. Use short, clear, and concise sentences where possible. Don't cram a bunch of different keywords into one sentence, too many and it starts to sound forced and confusing. Relentlessly edit and trim complicated messaging until it’s skimable and easy to understand. </p>
<blockquote>
  	<h4>Instead of:</h4>
  	 <p><em>We are delighted to have the opportunity to help you save, organize, and share all of your precious family memories for your lifetime plus 100 years – guaranteed – with a goal of many generations beyond.</em></p>

  	<h4>Try:</h4> <p><em>We are delighted to help you save your family memories for generations.</em></p>

  	</blockquote>

    <p>Avoid talking about future features when at all possible. Definitely do not give out specific dates. (Maaaaaaybe if the dev team has a significant chunk already in progress, you could give a vague estimate?)</p>

    <blockquote>
    <h4>Example:</h4>
    <p><em>Upload your cherished photos, children’s artwork, scrapbook pages (and soon videos, recipes, and more), and celebrate them with the people that matter most.</em></p>

    <p>Just take out the parenthetical. Qualifying existing features with future ideas doesn't sound confident and it just complicates the message. It also paints us into an awkward corner if (or when) plans change.</p></blockquote>

    <p>We're trustworthy, but we don't explicitly say that to our readers. Trust is something we <em>earn</em>. Anyone can say they're trustworthy, but it rarely comes off well. What we do and how we do it is what really matters.</p>

    <blockquote><h4>Instead of:</h4>
    <p><em>Forever is a permanent, secure, trustworthy place in the cloud.</em></p>

    <h4>Frame it in terms of benefits to the reader:</h4>
    <p><em>Forever is dedicated to helping people by providing permanent, simple and secure cloud storage.</em></p></blockquote>

  
    <h3>Before publishing, ask yourself three questions:</h3>
      <ul>
        <li>Is it useful?</li>
        <li>Is it true?</li>
        <li>Is it nice?</li>
        </ul> <p>(Taken from <cite><%= link_to("Nicely Said","http://www.nicelysaid.co/")%></cite>, which you should definitely read if you're interested in writing for the web.)</p>


    <h3>Keywords</h3>
     <p>[DRAFT]</p>
    <p>These are words to keep in mind. Don't force it, but where they naturally fit, use them.</p>
    <Ul>
    <li>permanent digital storage</li>
    <li>permanent digital home</li>
    <li>save</li>
    <li>organize</li>
    <li>share</li>
    <li>digital photos</li>
    </Ul>

  </div>
</div>
