<div class="style-guide-partial" id="goal">
  <div class="style-guide-partial-title">
    Goal/Purpose
  </div>

  <div class="style-guide-partial-description">
    <p>Writing is hard, and anyone who says otherwise is lying. It’s also a key part of how we communicate who we are as a company and what differentiates us. It’s how we connect to our users. This guide will help you understand Forever’s voice and tone, which will in turn guide your writing.</p>

    <p>What’s the difference between voice and tone?</p>

    <h3>Voice vs Tone</h3>
    <p><strong>Voice</strong> is the public personality of the company.</p>
    <p>Think of it like X.</p>
    <p><strong>Tone</strong> changes to fit the situation and how our readers feel. Changes depending on mood, medium, and audience.</p>
    <p>Thing of it like Y.</p>
    <blockquote>
      <q>Your voice is your company’s public personality. It doesn’t change much from day to day. Like your own individual personality, it comes through in all of your content and influences how people perceive you. On the other hand, your tone changes to fit the situation. While your voice is more about, your tone is about your readers and how they feel. Together, your voice and ton make up your writing style. </q>
      <cite>Nicely Said</cite>
    </blockquote>

  </div>
</div>
