<nav class="navbar navbar-default navbar-dropdown">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-grid" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "http://www.forever.com", class: "navbar-brand" do %>
      <%= image_tag("forever_style_guide/logo-380.png", alt: "Forever Logo", class:"navbar-brand-logo") %>
    <% end %>
  </div>
  <div id="navbar-collapse-grid" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <!-- Grid 12 Menu -->
      <li class="dropdown nav-item active"><a href="#" class="nav-item-tab dropdown-toggle" data-toggle="dropdown">Grid</a>
        <ul class="dropdown-menu">
          <li class="grid-demo dropdown-menu-content">
            <div class="row">
              <div class="col-sm-12">.col-sm-12</div>
            </div>
            <div class="row">
              <div class="col-sm-6">.col-sm-6</div>
              <div class="col-sm-6">.col-sm-6</div>
            </div>
            <div class="row">
              <div class="col-sm-4">.col-sm-4</div>
              <div class="col-sm-4">.col-sm-4</div>
              <div class="col-sm-4">.col-sm-4</div>
            </div>
            <div class="row">
              <div class="col-sm-3">.col-sm-3</div>
              <div class="col-sm-3">.col-sm-3</div>
              <div class="col-sm-3">.col-sm-3</div>
              <div class="col-sm-3">.col-sm-3</div>
            </div>
            <div class="row">
              <div class="col-sm-2">.col-sm-2</div>
              <div class="col-sm-2">.col-sm-2</div>
              <div class="col-sm-2">.col-sm-2</div>
              <div class="col-sm-2">.col-sm-2</div>
              <div class="col-sm-2">.col-sm-2</div>
              <div class="col-sm-2">.col-sm-2</div>
            </div>
            <div class="row">
              <div class="col-sm-1">.col-sm-1</div>
              <div class="col-sm-1">.col-sm-1</div>
              <div class="col-sm-1">.col-sm-1</div>
              <div class="col-sm-1">.col-sm-1</div>
              <div class="col-sm-1">.col-sm-1</div>
              <div class="col-sm-1">.col-sm-1</div>
              <div class="col-sm-1">.col-sm-1</div>
              <div class="col-sm-1">.col-sm-1</div>
              <div class="col-sm-1">.col-sm-1</div>
              <div class="col-sm-1">.col-sm-1</div>
              <div class="col-sm-1">.col-sm-1</div>
              <div class="col-sm-1">.col-sm-1</div>
            </div>
          </li>
        </ul>
      </li>
      <!-- .dropdown-menu-sm, .dropdown-menu-md, .dropdown-menu-lg
      -->
      <li class="dropdown nav-item"><a href="#" class="nav-item-tab dropdown-toggle" data-toggle="dropdown">Fixed Size</a>
        <ul class="dropdown-menu dropdown-menu-md">
          <li class="grid-demo dropdown-menu-content">
            <div class="row">
              <div class="col-sm-4">4</div>
              <div class="col-sm-4 col-sm-offset-4">4 offset 4</div>
            </div>
            <div class="row">
              <div class="col-sm-3 col-sm-offset-3">3 offset 3</div>
              <div class="col-sm-3 col-sm-offset-3">3 offset 3</div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">6 offset 6</div>
            </div>
          </li>
        </ul>
      </li>
      <!-- .dropdown-menu-full
      -->
      <li class="dropdown nav-item"><a href="#" class="nav-item-tab dropdown-toggle" data-toggle="dropdown">Full Size</a>
        <ul class="dropdown-menu dropdown-menu-full">
          <li class="grid-demo dropdown-menu-content">
            <div class="row">
              <div class="col-sm-3"><br>
                <h3>3</h3><br>
              </div>
              <div class="col-sm-9"><br>
                <h3>9</h3><br>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <!-- .dropdown-left
      -->
      <li class="dropdown dropdown-left nav-item"><a href="#" class="nav-item-tab dropdown-toggle" data-toggle="dropdown">Left Align</a>
        <ul class="dropdown-menu">
          <li class="grid-demo dropdown-menu-content">
            <div class="row">
              <div class="col-sm-12">12</div>
            </div>
            <div class="row">
              <div class="col-sm-12">12
                <div class="row">
                  <div class="col-sm-4">4</div>
                  <div class="col-sm-4">4</div>
                  <div class="col-sm-4">4</div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
