<%= link_to cart_url, style: 'border: none; padding-right: 30px !important; width: auto;', class: "nav-icon-stack cart-icon", title:'View Your Shopping Cart', id: 'mini-cart' do %>
  <span style="position: absolute; top: 8px; right: 5px; z-index: 999;" class="color-white color_block-primary cart-icon-count">2</span>
  <i style="font-size: 17px; top: 3px;" class='fa fa-shopping-cart'></i>
<% end %>
