<!-- Show cart in navbar right on desktop: see nav.erb for mobile  -->

<li class='navbar-account_item navbar-account_item-cart hidden-grid-float-breakpoint' style='border:none;'>
  <%= render partial: "forever_style_guide/sections/components/navigation/nav_cart_icon" %>
</li>

<% if defined?(current_user) && current_user.present?  %>
  <li class='dropdown'>
    <%= link_to nil, class: 'dropdown-toggle', :data => { :toggle => 'dropdown' } do %>
      Account
      <i class='fa fa-chevron-down'></i>
    <% end %>

    <div class='dropdown-menu dropdown-menu-nav dropdown-menu-account color_block-gray-700'>
      <%= render partial: "forever_style_guide/sections/components/navigation/nav_account_dropdown_menu" %>
    </div>
  </li>

<% else %>
  <li><%= link_to 'Log In', login_url, title: 'Log In or Sign Up for Forever' %></li>
<% end %>
