<li class='dropdown navbar-account_item'>
  <%= link_to nil, class: 'dropdown-toggle dropdown-toggle-help', :data => { :toggle => 'dropdown' } do %>
    Help
    <i class='fa fa-chevron-down'></i>
  <% end %>

  <div class='dropdown-menu dropdown-menu-nav dropdown-menu-deals color_block-gray-700'>
    <%= render partial: "forever_style_guide/sections/components/navigation/nav_help_dropdown_menu" %>
  </div>
</li>
