<!-- Show cart in navbar right on desktop: see nav.erb for mobile  -->
<li class="navbar-account_item-cart hidden-grid-float-breakpoint">
  <%= render partial: "forever_style_guide/sections/components/navigation/nav_cart_icon" %>
</li>

<% if defined?(current_user) && current_user.present?  %>
  <li class='dropdown'>
    <%= link_to nil, class: 'dropdown-toggle dropdown-toggle-account', :data => { :toggle => 'dropdown' } do %>
      Account
      <i class='fa fa-chevron-down'></i>
    <% end %>

    <div class='dropdown-menu dropdown-menu-nav dropdown-menu-account color_block-gray-700'>
      <%= render partial: "forever_style_guide/sections/components/navigation/nav_account_dropdown_menu" %>
    </div>
  </li>

<% else %>
  <li class='dropdown hidden-grid-float-breakpoint'>
    <%= link_to login_url do %>
      Log In
    <% end %>
  </li>
<% end %>
