<!-- Show cart in navbar right on desktop: see nav.erb for mobile  -->
<li class='navbar-account_item navbar-account_item-cart hidden-grid-float-breakpoint'>
  <%= render partial: "forever_style_guide/sections/components/navigation/nav_cart_icon" %>
</li>

<% if defined?(current_user) && current_user.present?  %>
  <li class='dropdown navbar-account_item'>
    <%= link_to nil, class: 'nav-icon-stack dropdown-toggle dropdown-toggle-account', :data => { :toggle => 'dropdown' } do %>
      <i class='fa fa-user hidden-grid-float-breakpoint'></i>
      <span class="nav-icon-label">Account</span>
      <i class='fa fa-chevron-down visible-grid-float-breakpoint'></i>
    <% end %>

    <div class='dropdown-menu dropdown-menu-nav dropdown-menu-account color_block-gray-700'>
      <%= render partial: "forever_style_guide/sections/components/navigation/nav_account_dropdown_menu" %>
    </div>
  </li>

<% else %>
  <li class='dropdown navbar-account_item hidden-grid-float-breakpoint'>
    <%= link_to login_url, class: 'nav-icon-stack' do %>
      <i class='fa fa-user hidden-grid-float-breakpoint'></i>
      <span class='nav-icon-label'>Log In</span>
    <% end %>
  </li>
<% end %>
