<div class='container-fluid nav-dropdown-deals'>
  <div class='row'>
    <div class='col-xs-12'>

      <h3 class="dropdown-menu-nav-title page-title color-primary">Contact Support</h3>
      <ul class="list-unstyled">

        <li class="dropdown-menu-account-item l-section-close">
          <%= link_to user_settings_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-sm dropdown-menu-nav-link-no_margin', title: 'View User Settings' do %>
            <i class='fa fa-phone fa-fw'></i>Call 1-888-FOREVER <span class="icon-offset">(1-888-367-3837)</span>
          <% end %>
        </li>

        <li class="dropdown-menu-account-divider dropdown-menu-account-divider-thin hidden-xs hidden-sm" style="marg\in-top: 10px;"></li>

        <li class="dropdown-menu-account-item l-section-close">
          <%= link_to user_settings_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-sm dropdown-menu-nav-link-no_margin', title: 'View User Settings' do %>
            <i class='fa fa-envelope fa-fw'></i>Email <span class="icon-offset">support@forever.com</span>
          <% end %>
        </li>

        <li class="dropdown-menu-account-divider dropdown-menu-account-divider-thin hidden-xs hidden-sm" style="marg\in-top: 10px;"></li>

        <li class="dropdown-menu-account-item l-section-close">
          <%= link_to user_settings_url, class: 'dropdown-menu-nav-link dropdown-menu-nav-link-sm dropdown-menu-nav-link-no_margin', title: 'View User Settings' do %>
            <i class='fa fa-search fa-fw'></i>Search <span class="icon-offset">Visit our Help Center</span>
          <% end %>
        </li>

      </ul>
    </div>
  </div>
</div>
