<li class='dropdown dropdown-full_width dropdown-ambassador navbar-account_item'>
  <%= link_to nil, class: 'dropdown-toggle dropdown-toggle-ambassador', :data => { :toggle => 'dropdown' } do %>
    <div>
      <small class="dropdown-ambassador-intro_text">Find or join Forever</small>
    </div>
    <span class="dropdown-ambassador-primary_text">Ambassadors</span>
    <i class='fa fa-chevron-down'></i>
  <% end %>

  <div class='dropdown-menu dropdown-menu-nav color_block-gray-700'>
    <div class='container dropdown-ambassador-container'>
      <div class='row'>

        <div class='col-grid-float-6 l-padded-thin'>
          <h3 class='dropdown-menu-nav-title page-title color-ambassador-light'>Join our team!</h3>
          <div class='dropdown-menu-account-divider'></div>
          <p class="dropdown-menu-nav-description color-white">To reach the Forever vision, we need brand ambassadors who love helping people capture and share their life's stories.</p>
          <%= link_to 'Learn More', '/opportunity', class: 'btn btn-ambassador btn-lg l-section-close', title: 'Make Money Helping People Save & Print their Photos' %>
        </div>

        <div class='col-grid-float-6 l-padded-thin'>
          <h3 class='dropdown-menu-nav-title page-title color-ambassador-light'>Your Ambassador</h3>
          <div class='dropdown-menu-account-divider'></div>
          <p class="dropdown-menu-nav-description color-white">Ambassadors provide <strong><u>free</u></strong> training, product consultations, and advance knowledge of sales and new products!</p>
          <%= link_to '/find-an-ambassador', class: 'btn btn-ambassador btn-lg l-section-close', title: 'Get Free Training and Support from Certified Ambassadors' do %>
            Find <span class="hidden-xs">a Local</span><span class="hidden-sm hidden-md hidden-lg">an</span> Ambassador
          <% end %>
        </div>

      </div>
    </div>
  </div>
</li>
