<nav class="navbar navbar-default navbar-stackable">
  <ul class="nav nav-justified">
    <li class="nav-item active">
      <a href="#" class="nav-item-tab">
        <%= fa_icon("bus", class:"nav-item-icon") %>
        <span class="nav-item-label">Bus</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-item-tab">
        <%= fa_icon("cab", class:"nav-item-icon") %>
        <span class="nav-item-label">Taxi</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-item-tab">
        <%= fa_icon("bicycle", class:"nav-item-icon") %>
        <span class="nav-item-label">Bicycle</span>
      </a>
    </li>
  </ul>
</nav>
