<div class="card style-guide-partial" id="branded_terms">
  <h2 class="style-guide-partial-title">
    Branded Terms
  </h2>

  <div class="style-guide-partial-description">
    <h3>Forever</h3>
    <p>Forever's logo (the full mark and circle of life) should always have a ®.</p>
    <%= image_tag("forever_style_guide/voice_and_tone/logo_example.png") %>
    <p>Forever, when referring to the company in plain text, should always be capitalized. </p>
    <blockquote>
      <p><em>At Forever, we're obsessed with permanance.</em></p>
    </blockquote>

    <h4>When using Forever as an adjective:</h4>
    <ul>
      <li>If the logo with ® is displayed prominently in the same document or web page (as it is on the marketing site), nothing else is needed</li>
      <li>If the logo is <em>not</em> there, Forever should have a ™ the first time it's used as an adjective in a document or on a webpage. It should never have a ®.</li>
    </ul>
    <blockquote>
      <p><em>A Forever™ membership is special.</em></p>
      <p><em>Membership at Forever is special</em> would not require a ™.</p>
    </blockquote>
    <p>In email subject lines, when used as an adjective, use all-caps instead of a trademark symbol.</p>      
    <blockquote> 
      <p><em>Special Message from FOREVER Founder & CEO</em></p>
    </blockquote>
   
    <h3>Members</h3>
    <p>[DRAFT]</p>
    <p>Member should only be capitalized when at the beginning of a sentence.</p>
    <blockquote>
      <p><em>Become a Forever member today.</em></p>
    </blockquote>
    <p>Retire all mentions of "Intro Member" or "Permanent Member". Instead discuss memberships or accounts.</p>
      
    <h3>Forever Guarantee Fund</h3>
    <p>[COMING SOON]</p>

    <h3>Tag Lines</h3>
    <p>Your permanent digital home.</p>
    <p><em>Forever: Your permanent digital home.</em></p>

    <h4>Retire:</h4>
    <ul>
      <li>Live. Love. Pass it on.</li>
      <li>Because every life matters.</li>
    </ul>
    
    <h3>Phone Number</h3>
    <p>When asking people to call, include the full number whenever possible to reduce friction for potential callers.</p>
    <blockquote>
      <p><em>Call us at 1-888-Forever (367-3837) to get started</em></p>
    </blockquote>
  </div>
</div>
