<div class="style-guide-partial" id="grammar">
  <h2 class="style-guide-partial-title">
    Grammar
  </h2>

  <div class="style-guide-partial-description">
    <p>We're not sticklers for grammar. It's more important that our writing be clear and sound natural than be technically perfect. (That doesn't mean be sloppy, but the world's not going to end if you end a sentence with a preposition.)</p>

    <h4>Here are a few things to keep in mind:</h4>
    <p>We like the Oxford comma. (But if it feels particularly egregious, or looks bad in a headline, leave it out.)</p>
    <blockquote>
      <p><em>We can digitize photos, slides, VHS tapes, and anything else you might have.</em></p>
    </blockquote>
    <p>If you need to use pronouns, keep it gender neutral and embrace a singular "they". "He" might be standard but can be alienating to women, our target customer. "She" could be unnecessarily alienating to men. Keeping it gender neutral is simplist and has the broadest appeal.</p>
    <blockquote>
      <p><em>Once a person has a link, they're free to share it.</em></p>
    </blockquote>
    <p>Only use quotation marks to quote someone (or something). Don't use them to emphasize words.</p>
  </div>
</div>
