<div class="card style-guide-partial" id="purpose">
  <h2 class="style-guide-partial-title">
    Purpose
  </h2>

  <div class="style-guide-partial-description">
    <p>Writing is a key part of how we communicate who we are as a company, which helps set us apart. It’s how we connect to our users. It's a huge part of how our users get to know <em>us</em>. Writing is also hard. (Anyone who says otherwise is lying.) This guide will help you understand Forever’s voice and tone, which will help guide your writing.</p>

    <h3>Voice vs Tone</h3>
    <p><strong>Voice</strong> is the public personality of the company.</p>
    <p><strong>Tone</strong> changes to fit the situation and how our readers feel. Mood, medium, and audience all help determine an appropriate tone.</p>
    <p>Think of it like a person. Your personality (or voice) is a defining trait that stays pretty consistent. Your tone, however, changes depending on who you're talking to. The way you talk to an old friend is going to be very different from the way you'd talk to an angry boss, which is different from the tone you'd use to talk to a child.</p>

    <h3>Why it’s important</h3>
    <p>A company's voice is an important part of its identity. It should reflect the people and values behind it. It also helps differentiate us, and ensures all communications sound like they come from the same place. We’re asking people to trust us with treasured photos and other memories. They need to feel confident in us as a company, that we're reliable enough to keep their content safe. That we mean what we say. That we can stand by our guarantee. This all requires a clear, consistent voice.</p>

    <h3>How do we create a memorable identity?</h3>
    <p>With natural writing and a distinct voice. Industrious folks <a href="http://www.thewriter.com/uploads/pdfs/The_Writers_Proof_of_the_Pudding_UK.pdf">have actually done studies on it</a>:</p>
    <ul>
      <li>Natural writing makes people like brands more.</li>
      <li>Natural writing makes people more loyal to brands.</li>
      <li>Writing with personality is more persuasive than natural writing.</li>
    </ul>
  </div>
</div>
