<div class="card style-guide-partial" id="voice">
  <h2 class="style-guide-partial-title">
    Forever's Voice
  </h2>

  <div class="style-guide-partial-description">
    <p>Forever's voice is authentic, friendly, and principled. To help people to feel comfortable with us, we use friendly language and go out of our way to encourage communication from our members. </p>
    <blockquote>
      <p>We wouldn't say <em>Contact a customer service representative if you have any problems.</em></p> 
      <p>Instead, we'll use something like:</p>
      <p><em>Please don't hesitate to contact us if you have any questions or concerns.</em> or <em>Have any feedback? Let us know, we'd love to hear from you!</em></p>
    </blockquote>
    <p>We're principled, confident, and classy. We're not afraid to say what we are and what we're not, and we don't have to trash other companies to do it. Being nasty doesn't reflect well on us, and it invites distrust and skepticism. Instead of saying "unlike Facebook", we can simply describe what they do, then say what we do. People will understand the difference.</p>
    <p>We're also not boastful. People learn not to trust people and companies who constantly exaggerate everything.</p>
    <blockquote>
      <p><em>The world's first and only permanent online photo storage and sharing company</em> might be appropriate for investors, but not for our users.</p>
      <p>If we absolutely <em>need</em> to use a qualifier, we'll keep in reasonable. Maybe we're just <em>The first permanent online photo storage and sharing company</em>.</p>
    </blockquote>
    <p>Forever is:</p>
    <ul>
      <li>confident but not boastful</li>
      <li>classy but not formal</li>
      <li>conversational but not sloppy</li>
      <li>friendly but not obnoxious</li>
      <li>principled but not judgmental</li>
      <li>helpful but not condescending</li>
    </ul>
  </div>
</div>
