@import "forever_style_guide/globals/colors";

.branding-color-swatches {
  display: inline-block;
  width: 100px;
  height: 100px;
  color: $white;

  .primary {
    background-color: $forever_green;
  }
}
