@mixin fontFace($family, $src) {
  @font-face {
    font-family: $family;
    src: url('#{$base-font-path}/#{$src}.woff2') format('woff2'), // standards
    url('#{$base-font-path}/#{$src}.woff') format('woff');
    font-display: swap;
  }
}
