@mixin fontFace($family, $src) {
  @font-face {
    font-family: $family;
    src: url('#{$base-font-path}/#{$src}.woff') format('woff'), // standards
    url('#{$base-font-path}/#{$src}.ttf') format('truetype'); // Safari, Android, iOS
    font-display: swap;
  }
}
