
@mixin transition($transition-property: all, $transition-time: 0.3s, $method: ease) {
  transition: $transition-property $transition-time $method;
}

@mixin transition_extra_fast($properties...) {
  transition-property: $properties;
  transition-duration: 0.08s;
  transition-timing-function: ease-in-out;
}

@mixin transition_fast($properties...) {
  transition-property: $properties;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

@mixin transition_normal($properties...) {
  transition-property: $properties;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

@mixin transition_slow($properties...) {
  transition-property: $properties;
  transition-duration: 0.45s;
  transition-timing-function: ease-in-out;
}
