<div class="style-guide-partial" id="personas">
  <h2 class="style-guide-partial-title">
    Personas
  </h2>

  <div class="style-guide-partial-description">
    Personas are important user archtypes we need to consider when we are designing and developing features for our customers.
  </div>

  <div class="style-guide-partial-content">
    <%= render partial: sections_path.join("ux_guide","personas","sophia").to_s %>
    <%= render partial: sections_path.join("ux_guide","personas","jane").to_s %>
    <%= render partial: sections_path.join("ux_guide","personas","ted").to_s %>
  </div>
</div>
