<div class="style-guide-partial" id="personas">
  <div class="style-guide-partial-title">
    Personas
  </div>

  <div class="style-guide-partial-description">
    Personas are important user archtypes we need to consider when we are designing and developing features for our customers.
  </div>

  <div class="style-guide-partial-content">
    <%= render :partial => "forever_style_guide/content/ux_guide/personas/sophia" %>
    <%= render :partial => "forever_style_guide/content/ux_guide/personas/jane" %>
    <%= render :partial => "forever_style_guide/content/ux_guide/personas/ted" %>
  </div>
</div>
