
<div>
  <h4>Primary Brand Colors</h4>
  <div class="row">
    <div class="color_swatch color-green"></div>
    <div class="color_swatch color-blue"></div>
    <div class="color_swatch color-purple"></div>
    <div class="color_swatch color-orange"></div>
    <div class="color_swatch color-red"></div>
    <div class="color_swatch color-beige"></div>
  </div>
  <div class="row">
    <div class="color_swatch color-green-light"></div>
    <div class="color_swatch color-blue-light"></div>
    <div class="color_swatch color-purple-light"></div>
    <div class="color_swatch color-orange-light"></div>
    <div class="color_swatch color-red-light"></div>
    <div class="color_swatch color-gray"></div>
  </div>
  <div class="row">
    <div class="color_swatch color-green-dark"></div>
    <div class="color_swatch color-blue-dark"></div>
    <div class="color_swatch color-purple-dark"></div>
    <div class="color_swatch color-orange-dark"></div>
    <div class="color_swatch color-red-dark"></div>
    <div class="color_swatch color-silver"></div>
  </div>
  <h4>Greyscale Colors</h4>
  <div class="row">
    <div class="color_swatch color-white"></div>
    <div class="color_swatch color-gray-100"></div>
    <div class="color_swatch color-gray-200"></div>
    <div class="color_swatch color-gray-300"></div>
    <div class="color_swatch color-gray-400"></div>
  </div>
  <div class="row">
    <div class="color_swatch color-gray-500"></div>
    <div class="color_swatch color-gray-600"></div>
    <div class="color_swatch color-gray-700"></div>
    <div class="color_swatch color-gray-800"></div>
    <div class="color_swatch color-black"></div>
  </div>
  <h4>Semantic Colors</h4>
  <div class="row">
    <div class="color_swatch color-primary"></div>
    <div class="color_swatch color-secondary"></div>
    <div class="color_swatch color-accent"></div>
  </div>
</div>
