
<div>
  <h4>Primary Brand Colors</h4>
  <div class="row">
    <div class="color_swatch color-historian"></div>
    <div class="color_swatch color-valet"></div>
    <div class="color_swatch color-services"></div>
    <div class="color_swatch color-artisan"></div>
  </div>
  <div class="row">
    <div class="color_swatch color-historian-light"></div>
    <div class="color_swatch color-valet-light"></div>
    <div class="color_swatch color-services-light"></div>
    <div class="color_swatch color-artisan-light"></div>
  </div>
  <div class="row">
    <div class="color_swatch color-historian-dark"></div>
    <div class="color_swatch color-valet-dark"></div>
    <div class="color_swatch color-services-dark"></div>
    <div class="color_swatch color-artisan-dark"></div>
  </div>
  <h4>Greyscale Colors</h4>
  <div class="row">
    <div class="color_swatch color-white"></div>
    <div class="color_swatch color-gray-100"></div>
    <div class="color_swatch color-gray-200"></div>
    <div class="color_swatch color-gray-300"></div>
    <div class="color_swatch color-gray-400"></div>
  </div>
  <div class="row">
    <div class="color_swatch color-gray-500"></div>
    <div class="color_swatch color-gray-600"></div>
    <div class="color_swatch color-gray-700"></div>
    <div class="color_swatch color-gray-800"></div>
    <div class="color_swatch color-black"></div>
  </div>
  <h4>Semantic Colors</h4>
  <div class="row">
    <div class="color_swatch color-primary"></div>
    <div class="color_swatch color-secondary"></div>
    <div class="color_swatch color-accent"></div>
    <div class="color_swatch color-warning"></div>
    <div class="color_swatch color-danger"></div>
  </div>
  <h4>Color Blocks</h4>
  <div class="row">
    <div class="color_block-gray-100 l-padded">
      <div class="text-center">.color_block-gray-100</div>
    </div>
    <div class="color_block-gray-200 l-padded">
      <div class="text-center">.color_block-gray-200</div>
    </div>
    <div class="color_block-gray-300 l-padded">
      <div class="text-center">.color_block-gray-300</div>
    </div>
    <div class="color_block-gray-400 l-padded">
      <div class="text-center">.color_block-gray-400</div>
    </div>
    <div class="color_block-gray-500 l-padded">
      <div class="text-center color-white">.color_block-gray-500</div>
    </div>
    <div class="color_block-gray-600 l-padded">
      <div class="text-center color-white">.color_block-gray-600</div>
    </div>
    <div class="color_block-gray-700 l-padded">
      <div class="text-center color-white">.color_block-gray-700</div>
    </div>
    <div class="color_block-gray-800 l-padded">
      <div class="text-center color-white">.color_block-gray-800</div>
    </div>
  </div>
  <h4>Deprecated Colors (going away soon...)</h4>
  <div class="row">
    <div class="color_swatch color-purple"></div>
    <div class="color_swatch color-beige"></div>
  </div>
</div>
