* {
  font-family: $font-face-regular;
}

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: color('text');
}
h1,
.heading-large {
  font-family: $font-face-semibold;
  font-weight: 500;
  font-size: $font-size-500;

  @media (min-width: $screen-sm) {
    font-size: $font-size-600;
  }

  @media (min-width: $screen-md) {
    font-size: $font-size-700;
  }
}
h2,
.heading-medium {
  font-family: $font-face-semibold;
  font-size: $font-size-400;

  @media (min-width: $screen-sm) {
    font-size: $font-size-500;
  }

  @media (min-width: $screen-md) {
    font-size: $font-size-600;
  }
}
h3,
.heading-small {
  font-family: $font-face-semibold;
  font-size: $font-size-300;

  @media (min-width: $screen-sm) {
    font-size: $font-size-400;
  }

  @media (min-width: $screen-md) {
    font-size: $font-size-500;
  }
}
h4,
.heading-extra_small {
  font-family: $font-face-semibold;
  font-size: $font-size-300;

  @media (min-width: $screen-sm) {
    font-size: $font-size-400;
  }
}
h5 {
  font-family: $font-face-semibold;
  font-weight: 300;
  font-size: $font-size-300;
}
h6 {
  font-family: $font-face-semibold;
  font-size: $font-size-200;
}
p {
  font-family: $font-face-regular;
  font-size: $font-size-default;
  line-height: 1.6;
}
small {
  font-family: $font-face-regular;
  font-size: $font-size-100;
  line-height: 1.2em;
}
b,
strong {
  font-family: $font-face-bold;
}
.page-title {
  margin-top: 0;
}

a {
  color: color('secondary');
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: color('secondary');
  }
}

a.disabled {
  color: $color-gray-600;
  text-decoration: none;
  cursor: text;
}

.ellipsis_overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pre-wrap {
  white-space: pre-wrap;
}


.break_long_string {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}


.title-padding {
  padding-right: 40px;
  padding-left: 40px;
}
