
/* Headers */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: color('text');
}
h1 {
  font-family: $font-face-semibold;
  font-weight: 500;
  font-size: $font-size-500;

  @media (min-width: $screen-sm) {
    font-size: $font-size-600;
  }

  @media (min-width: $screen-md) {
    font-size: $font-size-700;
  }
}
h2 {
  font-family: $font-face-semibold;
  font-size: $font-size-400;

  @media (min-width: $screen-sm) {
    font-size: $font-size-500;
  }

  @media (min-width: $screen-md) {
    font-size: $font-size-600;
  }
}
h3 {
  font-family: $font-face-semibold;
  font-size: $font-size-300;

  @media (min-width: $screen-sm) {
    font-size: $font-size-400;
  }

  @media (min-width: $screen-md) {
    font-size: $font-size-500;
  }
}
h4 {
  font-family: $font-face-semibold;
  font-size: $font-size-300;

  @media (min-width: $screen-sm) {
    font-size: $font-size-400;
  }
}
h5 {
  font-family: $font-face-semibold;
  font-weight: 300;
  font-size: $font-size-300;
}
h6 {
  font-family: $font-face-semibold;
  font-size: $font-size-200;
}
p {
  font-family: $font-face-regular;
  font-size: $font-size-default;
  line-height: 1.6;
}

b,
strong {
  font-family: $font-face-bold;
}

a {
  color: color('secondary');
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: color('secondary');
  }
}

a.disabled {
  color: $color-gray-600;
  text-decoration: none;
  cursor: text;
}
