@import "compass/css3/font-face";

/* =font-utils
Sass functions and font related variables beyond standard font declarations
---------------------------------------------------------------------------- */

// map for all font-face declarations
$font-faces: ();

// declaration function that makes future changes easier to manage
@function fontface($id, $file) {
  $font-faces: map-merge($font-faces, ($id: $file)) !global; // adds font-size declaration to global $font-sizes map
  @return $id;
}

// map for all font-size declarations
$font-sizes: ();

// declaration function that makes future changes easier to manage
@function fontsize($weight, $size) {
  $font-sizes: map-merge($font-sizes, ($weight: $size)) !global; // adds font-size declaration to global $font-sizes map
  @return $size;
}
