/* =logger

Sass debugging and inspection tools
---------------------------------------------------------------------------- */

$verbose: false;

@function logger($message) {
  @if $verbose {
    @debug $message;
  }
  @return $verbose;
}

@function inspect($list, $type: false, $root: true) {
  $line-break: "\A ";
  $result: if($type,
    "(list:#{length($list)})[ "+ $line-break,
    "[ " + $line-break
  );
  $space: if($root,
    "",
    "  "
  );

  @each $item in $list {
    $result: $result + "  ";

    @if length($item) > 1 {
      $result: $result + inspect($item, $type, false);
    }

    @else {
      $result: if($type,
        $result + $space + "(" + type-of($item) + ") " + $item,
        $result + $space + $item
      );
    }

    @if index($list, $item) != length($list) {
      $result: $result + ", " + $line-break;
    }
  }

  $result: $result + $line-break + $space + "]";
  @return quote($result);
}


