<div class="card style-guide-partial" id="feature_bullet">
  <h2 class="style-guide-partial-title">
    Feature Bullet
  </h2>

  <div class="style-guide-partial-description">
    Built on top of <%= link_to "Font-Awesome-Rails", "https://github.com/bokmann/font-awesome-rails" %>'s stack helper, this is a simple way to generate rounded helper buttons.
  </div>

  <%= render partial: "forever_style_guide/sections/components/shared/feature_bullet" %>

  <div class="style-guide-partial-identifiers">
    &nbsp;<code>.fa</code>
    &nbsp;<code>.fa-stack</code>
    &nbsp;<code>.fa-file-image-o</code>
    &nbsp;<code>.fa-circle</code>
    &nbsp;<code>.fa-2x</code>
    &nbsp;<code>.fa-3x</code>
    &nbsp;<code>.fa-4x</code>
    &nbsp;<code>.fa-5x</code>
    &nbsp;<code>.fa-feature_bullet</code>
    &nbsp;<code>.fa-feature_bullet-icon</code>
    &nbsp;<code>.fa-feature_bullet-circle</code>
    &nbsp;<code>.fa-feature_bullet-primary</code>
    &nbsp;<code>.fa-feature_bullet-secondary</code>
    &nbsp;<code>.fa-feature_bullet-accent</code>
    &nbsp;<code>.fa-rotate-90</code>
    &nbsp;<code>.fa-flip-vertical</code>
  </div>

  <div class="style-guide-toggle">
    <input id="style-guide-toggle-feature_bullet" class="style-guide-toggle-input" type="checkbox" />
    <label for="style-guide-toggle-feature_bullet" class="style-guide-toggle-label">
      <pre class="style-guide-toggle-source prettyprint linenums"><%= escape_erb_for_display("forever_style_guide/sections/components/shared/_feature_bullet.erb") %></pre>
      <div class="style-guide-toggle-show">Show source code</div>
      <div class="style-guide-toggle-hide">Hide source code</div>
    </label>
  </div>
</div>
