<div class="style-guide-partial" id="footer">
  <div class="style-guide-partial-content">
    <p>The visual included inline here provides a quick reference of the elements and styles included in the footer component. The complete, fully-responsive footer is available as a <%= link_to "Fullscreen Demo.", demo_link('footer') %>
    </p>
    <div class="footer-sample l-section">
      <%= render partial: "forever_style_guide/sections/components/footer/footer_demo" %>
    </div>
    <div class="style-guide-toggle">
      <input id="style-guide-toggle-nav_basic" class="style-guide-toggle-input" type="checkbox" />
      <label for="style-guide-toggle-nav_basic" class="style-guide-toggle-label">
        <pre class="style-guide-toggle-source prettyprint linenums"><%= escape_erb_for_display("forever_style_guide/sections/components/footer/_footer.erb") %></pre>
        <div class="style-guide-toggle-show">Show source code</div>
        <div class="style-guide-toggle-hide">Hide source code</div>
      </label>
    </div>
  </div>
</div>
