<div class="style-guide-partial" id="footer">
  <div class="style-guide-partial-content">
    <p>The complete, fully-responsive footer is available as a <%= link_to "Fullscreen Demo.", demo_link('footer') %>
    </p>
  </div>
</div>
