<div class="l-section">
  <p><code>.hero_simple</code> aims to simplify our hero treatments by providing a simple, high-contrast block for text, and the ability to easily include a colorful header without requiring an image.</p>
  <p><strong>Keep your hero text short and clear.</strong> There will be plenty of room below the hero for details, where they're more likely to be effective.</p>
  <p>Check out the <%= link_to "Hero Simple Full Screen Demos", demo_link('hero_simple') %> for visual reference.</p>
</div>

<hr>

<div class="hero_simple hero_simple-sample">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center hero_simple-block color_block_trans-secondary">
        <h1 class="page-title">Now presenting .hero_simple</h1>
        <p>Available in all the standard brand colors for (hopefully) easy implementation.</p>
        <%= link_to 'Primary Action', "#hero_simple", class: 'btn btn-lg btn-primary hero_simple-block-cta', title: "Primary Action" %>
        <%= link_to 'Learn More', "#", class: 'btn btn-lg btn-artisan btn-inverse hero_simple-block-cta ', title: "Learn More" %>
      </div>
    </div>
  </div>
</div>
