<div class="jumbotron hero hero-sample"></div>
<hr>
<div class="jumbotron hero hero-sample hero-sm"></div>
<hr>
<div class="jumbotron hero hero-sample hero-xs"></div>
<hr>
<div class="jumbotron hero hero-sample hero-xs hero-shaded"></div>
