<div class="l-section">
  <p>
    Hero imagery is critical for establishing the right tone and presenting the perfect message for content within Forever's marketing sites. It's most likely going to be a new user's first impression of a service or feature that we offer.
  </p>

  <p>Check out the <%= link_to "Hero Full Screen Demos", demo_link('hero') %> for visual reference.</p>
  <div class="l-padded-thin"></div>
</div>

<hr>
<div class="hero hero-sample hero-xs hero-shaded">
  <div class="container-fluid">
    <div class="row l-section-close">
      <div class="col-sm-8">
        <h2 class="color-white l-section-far">.hero .hero-sample .hero-xs .hero-shaded</h1>
        <%= link_to 'Call-to-Action', '#', class: 'btn btn-lg btn-emerald l-section-close', title: "Call-to-Action" %>
      </div>
    </div>
  </div>
</div>
