<div>
  <div class="login">
    <ul class="list-unstyled">
      <li class="login-item">
        <a class="btn btn-link" href=""><span>Log In</span></a>
      </li>
      <li class="login-item hidden-xs">
        <a class ="btn btn-primary" href=""><span>Sign Up</span></a>
      </li>
    </ul>
  </div>
</div>
