<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mySignupModal">
  Sign Up
</button>

<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myConfirmModal3">
  Delete Album
</button>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myConfirmModal4">
  Delete Album
</button>

<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myConfirmModal">
  Delete Content
</button>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myConfirmModal2">
  Delete Content
</button>

<!-- Modal 1 -->
<div class="modal fade" id="mySignupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h2 class="modal-title" id="myModalLabel">Modal title</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="modal-close_icon fa fa-times-circle-o"></i></span></button>
      </div>

      <div class="modal-body l-padded">
        <div class="container-fluid"> <!-- the container-fluid class here allows us to use any gridding or other bootstrap layout we like within the modal -->
          <div class="row text-center">
            <h3 class="color-accent">Create beautiful print projects plus enjoy free access to Forever Memories when you register!</h3>
            <hr />
          </div>
          <form>
            <div class="row l-section-close">
              <div class="form-group form-group-lg col-xs-12 col-sm-6">
                <label class="login-label" for="new_firstname">Your Name*</label>
                <input type="text" name="new_firstname" value="" placeholder="First Name" id="new_firstname" class="form-control" />
              </div>
              <div class="form-group form-group-lg form-group-no_label col-xs-12 col-sm-6">
                <label class="sr-only" for="new_lasttname">Your Last Name*</label>
                <input type="text" name="new_lastname" value="" placeholder="Last Name" id="new_lastname" class="form-control" />
              </div>
            </div>

            <div class="form-group form-group-lg">
              <label class="login-label" for="new_email">Your Email*</label>
              <input type="text" name="new_email" value="" placeholder="Please enter your email address." id="new_email" class="form-control" />
            </div>

            <div class="form-group form-group-lg">
              <label class="login-label" for="new_password">Choose Your Password*</label>
              <input type="password" name="new_password" value="" placeholder="Password must be at least 6 characters." id="new_password" class="form-control" />
            </div>

            <div class="checkbox checkbox-branded">
              <label for="agree" class="checkbox-label">
                <input type="checkbox" name="agree" id="agree" class="login-checkbox">
                <span class="checkbox-visual"></span>
                I have read and agree to the <a href="#">Terms &amp; Conditions</a> and the <a href="#">Privacy Policy.</a>
              </label>
            </div>
            <input type="submit" value="Sign up and get started!" id="button-account" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-lg btn-primary l-section" />
          </form>
        </div>
      </div>

      <div class="modal-footer l-section text-center">
        Already have a Forever Account? <a href="" class="toggle-options">Sign in.</a>
      </div>

    </div>
  </div>
</div>

<!-- Delete Album and Nested Albums -->
<div class="modal fade" id="myConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Delete Album & Nested Albums?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="modal-close_icon fa fa-times-circle-o"></i></span></button>
      </div>

      <div class="modal-body l-padded">
        <div class="container-fluid"> <!-- the container-fluid class here allows us to use any gridding or other bootstrap layout we like within the modal -->
          <div class="row">
            <ul>
              <li>
                <p>Will delete this album and 15 nested albums <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Nested Albums are albums organized within other albums."></i></p>
              </li>
              <li>
                <p>Your photos will <strong>not</strong> be deleted</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="modal-footer">

        <div class="checkbox checkbox-inline checkbox-branded pull-left">
          <label for="inline1" class="checkbox-label">
            <input type="checkbox" name="inline1" id="inline1" check="">
            <span class="checkbox-visual"></span>
            Delete everything within album
          </label>
        </div>
        <div class="pull-right">
          <a href="#" class="btn btn-link">Cancel</a>
          <a href="#" class="btn btn-primary">Delete Album</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Delete Album & Nested Albums & All Content -->
<div class="modal fade" id="myConfirmModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Delete Album & Nested Albums?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="modal-close_icon fa fa-times-circle-o"></i></span></button>
      </div>

      <div class="modal-body l-padded">
        <div class="container-fluid">
          <div class="row">
            <ul>
              <li>
                <p>Will delete this album and 15 nested albums <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Nested Albums are albums organized within other albums."></i></p>
              </li>
              <li class="text-danger">
                <p class="text-danger"><%= fa_icon "warning" %> Will also delete 1242 photos & documents within this album and nested albums.</p>
              </li>
              <li class="text-danger">
                <p class="text-danger"><%= fa_icon "warning" %> This action cannot be undone.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="modal-footer">

        <div class="checkbox checkbox-inline checkbox-branded pull-left">
          <label for="inline2" class="checkbox-label">
            <input type="checkbox" name="inline2" id="inline2" check="">
            <span class="checkbox-visual"></span>
            Delete everything within album
          </label>
        </div>
        <div class="pull-right">
          <a href="#" class="btn btn-link">Cancel</a>
          <a href="#" class="btn btn-danger">Delete Album & Contents</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Album -->
<div class="modal fade" id="myConfirmModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Delete Album?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="modal-close_icon fa fa-times-circle-o"></i></span></button>
      </div>

      <div class="modal-body l-padded">
        <div class="container-fluid">
          <div class="row">
            <ul>
              <li>
                <p>Will delete this album</p>
              </li>
              <li>
                <p>Your photos will <strong>not</strong> be deleted</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="modal-footer">

        <div class="checkbox checkbox-inline checkbox-branded pull-left">
          <label for="inline3" class="checkbox-label">
            <input type="checkbox" name="inline3" id="inline3" check="">
            <span class="checkbox-visual"></span>
            Delete everything within album
          </label>
        </div>
        <div class="pull-right">
          <a href="#" class="btn btn-link">Cancel</a>
          <a href="#" class="btn btn-primary">Delete Album</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Delete Album and all content -->
<div class="modal fade" id="myConfirmModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Delete Album?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="modal-close_icon fa fa-times-circle-o"></i></span></button>
      </div>

      <div class="modal-body l-padded">
        <div class="container-fluid">
          <div class="row">
            <ul>
              <li>
                <p>Will delete this album</p>
              </li>
              <li class="text-danger">
                <p class="text-danger"><%= fa_icon "warning" %> Will also delete 132 photos & documents within this album.</p>
              </li>
              <li class="text-danger">
                <p class="text-danger"><%= fa_icon "warning" %> This action cannot be undone.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="modal-footer">

        <div class="checkbox checkbox-inline checkbox-branded pull-left">
          <label for="inline4" class="checkbox-label">
            <input type="checkbox" name="inline4" id="inline4" check="">
            <span class="checkbox-visual"></span>
            Delete everything within album
          </label>
        </div>
        <div class="pull-right">
          <a href="#" class="btn btn-link">Cancel</a>
          <a href="#" class="btn btn-danger">Delete Album & Contents</a>
        </div>
      </div>
    </div>
  </div>
</div>
