<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="left" title="Popover Left"  data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on left
</button>

<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="top" title="Popover Right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on top
</button>

<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Popover Bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on bottom
</button>

<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" title="Popover Top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on right
</button>

<button style="width:500px" type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottomleft" title="Popover Bottom Left" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on bottom left
</button>

<button style="width:500px" type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottomright" title="Popover Bottom Right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on bottom right
</button>
