<div class="card style-guide-partial" id="promo_banner">
  <h2 class="style-guide-partial-title">
    Promo Banner
  </h2>

  <div class="style-guide-partial-description">
    <p>
      For holidays and other promotions it's useful to display a stylish banner that makes any site visitor aware of our current offerings in a manner that is impactful, but also in a way that does not interrupt the user experience in a negative way (especially considering mobile implementations and limited screen real estate).
    </p>
  </div>

  <div class="style-guide-partial-content">
    <div class="l-section-close">
      <p>Check out out the <%= link_to "Full Screen Demo", demo_link('promo_banner') %> for visual reference and specifics on implementation</p>
    </div>
  </div>
</div>
