<div class="login">
  <ul class="list-unstyled">
    <li class="login-item">
      <a class="btn btn-sign_in" href=""><span>Sign In</span></a>
    </li>
    <li class="login-item">
      <a class ="btn btn-primary" href=""><span>Register</span></a>
    </li>
  </ul>
</div>
