<a href="#" class="switch disabled"></a>
<a href="#" class="switch switch-off"></a>
<a href="#" class="switch switch-no"></a>
<a href="#" class="switch switch-on"></a>
<a href="#" class="switch switch-yes"></a>
