$banner-vertical-padding: 4px;
$banner-max-width: 70%;

$banner-background-visible: 0.1;
$banner-color: transparentize($color-white, 0.2);

$banner-hover-effect-speed: 0.15s;
$chevron-rotate-effect-speed: 0.25s;
$dropdown-entrance-and-exit-effect-speed: 0.22s;

@mixin ambassador_banner() {
  position: relative;
  height: $ambassador-banner-height;
  padding: $banner-vertical-padding 10px;
  color: $banner-color;
  background-color: $color-forever_gray;
  z-index: $in-front-of-primary-nav;
  text-align: center;
  font-family: $font-face-regular;

  &.is-behind_fixed-nav {
    z-index: -1;
    height: $ambassador-banner-height;
  }

  @media screen and (max-width: $screen-xs) { text-align: left; }
}

.ambassador_banner-assigned {
  @include ambassador_banner();

  &.open {
    .fa-chevron-down {
      transform: rotate(180deg);
    }
  }

  .fa-chevron-down {
    cursor: pointer;
    @include transition(transform $chevron-rotate-effect-speed linear);
  }
}

a.ambassador_banner-btn {
  &,
  &:link,
  &:visited,
  &:hover,
  &:active {
    padding-top: 4px !important;//because this is easier than a day of fighting with legacy crap
    height: 30px;
    font-size: $font-size-200;
    color: $color-white;
    font-family: $font-face-semibold;
    text-decoration: underline;
    cursor: pointer;
  }
}

.ambassador_banner-content {
  display: inline-block;
  vertical-align: middle;
  pointer-events: auto;
}

.ambassador_banner-name {
  max-width: $banner-max-width;
  vertical-align: middle;
  text-decoration: underline;
  cursor: pointer;

  @media screen and (max-width: $screen-xs) {
    max-width: 48%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ambassador_banner-dropdown_container {
  position: absolute;
  top: $ambassador-banner-height;
  left: 0;
  visibility: hidden;
  width: 100%;
  transform: translateY(-100%);
  @include transition_fast(all);
  z-index: $in-front-of-primary-nav-but-behind-banner;
  pointer-events: none;

  &.open {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: auto;
    visibility: visible;
  }
}

.ambassador_banner-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $color-forever_gray;
  border-top: 2px solid transparentize($color-white, 0.9);
}

.ambassador_banner-dropdown-avatar {
  align-self: flex-start;
  margin: 0;
  margin-right: $padding-large-horizontal * 2 !important;
}

.ambassador_banner-dropdown-info {
  max-width: 100%;
  overflow: hidden;
}

.ambassador_banner-dropdown-info-secondary {
  margin-top: $padding-large-vertical;
}

.ambassador_banner-dropdown-info-main-rank {
  color: transparentize($color-white, 0.3);
}

.ambassador_banner-dropdown-info-main-location {
  color: transparentize($color-white, 0.2);
}

.ambassador_banner-dropdown-info .ambassador_banner-dropdown-info-link { // specificity needed to override style guide link styles
  display: inline-block;
  max-width: 100%;
  color: $color-white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ambassador_banner-dropdown-info-link_icon {
  padding-right: $padding-xs-horizontal;
}

.ambassador_banner-dropdown-info .ambassador_banner-dropdown-info-action_link { // specificity needed to override style guide link styles
  overflow: visible; // keeps links aligned with the pipe in between them

  @media screen and (max-width: $screen-xs) {
    display: block;
  }
}

.ambassador_banner-dropdown-info-action_link-hide {
  @media screen and (max-width: $screen-xs) {
    display: none;
  }
}

.ambassador-link-con {
  @media screen and (max-width: $screen-xs) {
    text-align: left;
    padding-left: 10px;
  }
}

.btn-ambassador-link {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  position: absolute;
  z-index: 1200;
  right: 10px;
  margin: 0;
  padding: 0;
  background: transparent;
  color: $color-white;
  font-size: $font-size-200;
  font-family: inherit;
  border: none;
  box-shadow: none;
  line-height: 20px;
  pointer-events: auto;

  &:hover, &:focus, &:active{
    color: $color-white;
    background: transparent !important;
    border: none;
    box-shadow: none;
    text-decoration: underline;
  }

  i {
    margin-left: 4px;
    font-size: $font-size-200 !important;
  }

  &.amb-link-vert-align {
    top: 50%;
    transform: translateY(-50%);
  }
}
