.btn {
  @extend %btn-style;
  //padding: $btn-padding-default-vertical $btn-padding-default-horizontal;

  &:hover,
  &:active {
    background-color: $color-white;
  }

  &.btn-lg {
    font-family: $font-face-regular;
    height: $btn-lg-size;
    font-size: $font-size-400;
    padding: $btn-padding-large-vertical $btn-padding-large-horizontal;
    line-height: 1.8;

    .fa {
      font-size: $icon-lg-size;

      &:after {
        padding-bottom: 2px;
      }
    }
  }
  &.btn-sm {
    font-size: $font-size-small;
    height: $btn-sm-size;
    padding: $btn-padding-small-vertical $btn-padding-small-horizontal;
    line-height: 1.6;

    .fa {
      font-size: $icon-sm-size;
      padding-top: 2px;
    }
  }
  &.btn-xs {
    height: $btn-xs-size;
    padding: $btn-padding-xs-vertical $btn-padding-xs-horizontal;
    font-size: $font-size-small;
    line-height: 1.8;

    .fa {
      font-size: $icon-xs-size;
    }
  }

  // Because of Action buttons particular formatting, it requires some special positioning adjustments
  .fa {
    font-size: $icon-size;
  }
}

.btn-group {
  .btn-icon .fa {
    vertical-align: middle;
  }
  .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-left: 1px solid $color-gray-400;
    border-right: 1px solid $color-gray-400;
    // compensating for bootstraps -1px offset
    margin-right: 1px;
  }
}
