$modal-padding-footer: 15px;
$modal-form-width-lg: 355px;
$modal-product-suggestion-sm: 170px;
$modal-promo-height: 475px;
$modal-xl-screen-md-width: 900px;
$modal-xl-screen-lg-width: 1170px;
$modal-margin-top-sm: 32px;
$modal-margin-top-md: 80px;

.modal-content {
  border: none;
  border-radius: $border-radius-xl;
}

.modal-header {
  border: none;
  border-top-left-radius: $border-radius-xl;
  border-top-right-radius: $border-radius-xl;
  padding: 10px;

  .close {
    margin-top: 1px; // visual alignment
    color: $color-gray-700;
    opacity: 1.0;
    @extend %no-shadow;

    &:hover {
      color: $color-gray-600;
    }
  }
}

.modal-title {
  font-weight: 300;
  font-size: $font-size-500;
  color: inherit;
}

.modal-footer-buttons {
  padding: $modal-padding-footer;
  text-align: right;
  border-top: 1px solid $color-gray-400;
}

.modal-footer-txt {
  font-family: $font-face-bold;
  color: $color-gray-600;
  line-height: 3;
}

.modal-footer-info {
  padding: 10px;
}

.modal-body-info {
  padding: 30px;
}

.modal-dialog {
  @media (min-width: $screen-xs-min) {
    margin: $modal-margin-top-sm 10px 0;
  }
  @media (min-width: $screen-sm-min) {
    margin: $modal-margin-top-sm auto 0;
  }
  @media (min-width: $screen-md-min) {
    margin-top: $modal-margin-top-md;
   }
 }

.close:hover,
.close:focus,
.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
}

.modal-footer-txt.checkbox {
  line-height: 1.5;
}

.modal-media-text {
  padding: 0 40px;
  margin-top: $modal-padding-footer;
}

.modal-xl {
  @media (min-width: $screen-md){
    width: $modal-xl-screen-md-width;
  }

  @media (min-width: $screen-lg){
    width: $modal-xl-screen-lg-width;
  }

  &.modal-dialog {
    @media (min-width: $screen-md-min) {
      margin-top: 60px;
    }
  }
}
