<div class="branding-color-swatches">
  <div class="primary branding-color-swatch">#7AC143</div>
  <div class="secondary branding-color-swatch">#00A4E4</div>
  <div class="accent branding-color-swatch">#731472</div>
  <div class="warning branding-color-swatch">#ED773A</div>
  <div class="error branding-color-swatch">#BF3030</div>
</div>
