
<div>

  <h4>Primary Brand Colors</h4>
  <div class="row">
    <div class="color_swatch color-forever_green"></div>
    <div class="color_swatch color-forever_blue"></div>
    <div class="color_swatch color-forever_purple"></div>
    <div class="color_swatch color-forever_orange"></div>
    <div class="color_swatch color-forever_red"></div>
  </div>
  <div class="row">
    <div class="color_swatch color-forever_green_light"></div>
    <div class="color_swatch color-forever_blue_light"></div>
    <div class="color_swatch color-forever_purple_light"></div>
    <div class="color_swatch color-forever_orange_light"></div>
    <div class="color_swatch color-forever_red_light"></div>
  </div>
  <div class="row">
    <div class="color_swatch color-forever_green_dark"></div>
    <div class="color_swatch color-forever_blue_dark"></div>
    <div class="color_swatch color-forever_purple_dark"></div>
    <div class="color_swatch color-forever_orange_dark"></div>
    <div class="color_swatch color-forever_red_dark"></div>
  </div>
  <div class="row">
    <h4>Semantic Colors</h4>
    <div class="color_swatch color-forever_beige"></div>
  </div>

</div>
