<div class="style-guide-partial" id="jane">
  <h3 class="style-guide-partial-title">
    Jane
  </h3>

  <div class="style-guide-partial-description">
    Jane is a busy lady who needs some help getting organized.
  </div>
</div>
