<div class="style-guide-partial" id="sophia">
  <h3 class="style-guide-partial-title">
    Sophia
  </h3>

  <div class="style-guide-partial-description">
    <div class="style-guide-persona-block sophia">
      <div class="style-guide-persona-header">
        <%= image_tag("forever_style_guide/personas/ted_avatar.png", class: "avatar avatar-large") %>
        <div class="style-guide-persona-header-content">
          <h1 class="style-guide-persona-title">Sophia - Super Scrapbooker</h1>
          <blockquote class="quote-bubble">
            <q>I turn off the geo-data and facial recognition on my photos and photo programs, so that's not valuable to me.</q>
          </blockquote>
        </div>
      </div>
      <div class="style-guide-persona-separator">
      </div>
      <div class="style-guide-person-body">
      </div>
    </div>
    Sophia is an A-Type personality and super scrapbooker extrordiare!
  </div>
</div>
