<div class="style-guide-partial" id="sophia">
  <div class="style-guide-partial-title">
    Sophia
  </div>

  <div class="style-guide-partial-description">
    Sophia is an A-Type personality and super scrapbooker extrordiare!
  </div>
</div>
