<div class="style-guide-partial" id="ted">
  <div class="style-guide-partial-title">
    Ted
  </div>

  <div class="style-guide-partial-description">
    Ted thinks a lot about his past, and even more about his future.
  </div>
</div>
