<%= render :partial => "style_guide/style/header", :locals => {:section => @current_section} %>

<div class="style-guide-content">
  <%= render :partial => "style_guide/style/sidebar", :locals => {:section => @current_section} %>

  <div class="style-guide-partials">

  </div>
</div>
